html,body{
    margin:0;
    padding:0;
}
.todolist{
    border:1px solid #D7D7D7;
    -webkit-box-shadow:1px 1px 5px #D7D7D7;
    .todolisthead{
        line-height:45px;
        display:-webkit-flex;
        background:#D7D7D7;
        .todolisthead-input{
            line-height:45px;
            -webkit-flex:1;
            padding:0 0 0 5px;
            input{
                width:100%;
                line-height:35px;
                border:0;
                padding:0 0 0 5px;
                -webkit-box-sizing: border-box;
            }
        }
        .todolisthead-btn{
            width:45px;
            text-align: center;
        }
    }
    .todolist-body{
        .todolist-con-item{
            line-height:45px;
            display:-webkit-flex;
            border-bottom:1px solid #D7D7D7;
            .todolist-con-item-desc{
                line-height:45px;
                -webkit-flex:1;
                padding:0 0 0 8px;
            }
            .todolist-con-item-btn{
                width:45px;
                text-align: center;
            }
        }
    }
}
.todolistcontainer{
    width:600px;
    margin:0 auto;
    .todolistcontainer-logo{}
    .todolistcontainer-todolist{}
}

@media only screen and (max-width: 480px) {
    .todolistcontainer{
        width:400px;
    }
}