.advancemessagebox {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999999999; }
  .advancemessagebox .amask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2); }
  .advancemessagebox .abox {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: white;
    -webkit-box-shadow: 0 0 15px #524D4D;
    width: 450px; }
    .advancemessagebox .abox .aheader {
      line-height: 35px;
      background: #2ABF9F;
      display: -webkit-flex; }
      .advancemessagebox .abox .aheader .alogo {
        width: 150px;
        height: 35px;
        background: url(../images/xxlogo.png) no-repeat center #177462; }
      .advancemessagebox .abox .aheader .adesc {
        -webkit-flex: 1;
        line-height: 35px;
        text-align: right;
        padding: 0 10px 0 0;
        color: white; }
    .advancemessagebox .abox .acontent {
      position: absolute;
      left: 0;
      right: 0;
      top: 35px;
      bottom: 40px; }
      .advancemessagebox .abox .acontent .axdesc {
        line-height: 30px;
        padding: 0 10px 0 10px;
        background: #FAFAFA;
        border-bottom: 1px solid #F2F0F0; }
      .advancemessagebox .abox .acontent .axcontent {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 31px; }
    .advancemessagebox .abox .atools {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      line-height: 35px;
      text-align: right;
      border-top: 1px solid #EDEDED;
      background: #FCFCFC; }
      .advancemessagebox .abox .atools .abtn {
        display: inline-block;
        width: 35px;
        text-align: center;
        line-height: 35px; }
        .advancemessagebox .abox .atools .abtn:hover {
          background: #F0F0F0; }
    .advancemessagebox .abox .acontent-mask {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: none; }
      .advancemessagebox .abox .acontent-mask .acontent-mask-loading {
        width: 40px;
        line-height: 40px;
        text-align: center;
        background: white;
        border: 1px solid #D7D7D7;
        -webkit-border-radius: 5px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -20px;
        margin-top: -20px;
        -webkit-box-shadow: 0 0 10px #C0C0C0; }

.sortlist .sortlist-header {
  border-top: 1px solid #D7D7D7;
  background: white; }
.sortlist .sortlist-header-title {
  line-height: 30px;
  font-size: 13px;
  padding: 0 10px 0 10px;
  border-bottom: 1px solid #D7D7D7;
  background: white; }
.sortlist .sortlist-header-container {
  background: #FCFCFC; }
.sortlist .sortlist-container-item {
  line-height: 25px;
  padding: 0 10px 0 10px;
  border-bottom: 1px solid #FAFAFA;
  font-size: 12px; }
  .sortlist .sortlist-container-item.active {
    background: #3879D9;
    color: white; }

.sortlistgroup {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }
  .sortlistgroup .sortlistgroup-sortlist {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    border-right: 1px solid #D7D7D7;
    overflow: auto; }
  .sortlistgroup .sortlistgroup-codeditor {
    position: absolute;
    left: 201px;
    top: 0;
    right: 0;
    bottom: 0; }

/*# sourceMappingURL=advance.css.map */
