.audio{
    width:300px;
    height:50px;
    position: relative;
    .abtn{
        width:50px;
        height:50px;
        position: absolute;
        left:0;
        top:0;
        text-align: center;
        line-height: 50px;
    }
    .progress{
        position: absolute;
        left:50px;
        right:50px;
        top:50%;
        margin-top:-5px;
        height:10px;
        bottom:0;
        background:white;
        .bar{
            position: absolute;
            height:10px;
            left:0;
            top:0;
            &.load{
                background:yellow;
                width:40%;
            }
            &.play{
                background:green;
                width:30%;
            }
        }
    }
    .time{
        line-height: 50px;
        text-align: center;
        position: absolute;
        width:50px;
        top:0;
        right:0;
        bottom:0;
    }
}