/*reset*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html, body {
  margin: 0;
  padding: 0;
  background: #FAFAFA;
  font-size: 14px;
  font-family: Microsoft Yahei In-Bold,Microsoft Yahei,Apple LiGothic Medium;
  color: #222222; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

label {
  position: relative;
  z-index: 2;
  display: inline-block; }

.fix {
  zoom: 1; }

.fix:before, .fix:after {
  content: "";
  display: table;
  clear: both; }

.fleft {
  float: left; }

.fright {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

h1, .title_1 {
  font-size: 38.5px;
  line-height: 40px;
  font-weight: normal; }

h2, .title_2 {
  font-size: 31.5px;
  line-height: 40px;
  font-weight: normal; }

h3, .title_3 {
  font-size: 21px;
  line-height: 40px;
  font-weight: normal; }

h4, .title_4 {
  font-size: 21px;
  line-height: 40px;
  font-weight: normal; }

h5, .title_5 {
  font-size: 14px;
  line-height: 40px;
  font-weight: bold; }

h6, .title_6 {
  font-size: 11.9px;
  line-height: 40px;
  font-weight: bold; }

p {
  margin: 10px 0 10px 0;
  line-height: 1.5;
  font-size: 13px; }

.fix {
  zoom: 1; }

.fix:before, .fix:after {
  content: "";
  display: table;
  clear: both; }

textarea {
  width: 191px;
  height: 100px; }
  textarea.noresize {
    resize: none; }

.btn, .addon, .label, .inline, .link {
  line-height: 1.5;
  padding: 5px 15px 5px 15px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: default;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none; }

.btn {
  border: 1px solid #cccccc;
  background: #FFFFFF;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px; }
  .btn:hover, .btn.hover {
    background: #d9d9d9; }
  .btn:active:not(.disabled):not(:disabled), .btn.active:not(.disabled):not(:disabled) {
    -webkit-box-shadow: 0 3px 5px #bfbfbf inset;
    -moz-box-shadow: 0 3px 5px #bfbfbf inset;
    box-shadow: 0 3px 5px #bfbfbf inset; }
  .btn:disabled, .btn.disabled {
    background: white;
    color: #d9d9d9;
    cursor: not-allowed; }
  .btn.less {
    padding: 5px; }
  .btn.primary {
    background: #428BCA;
    color: white;
    border: 1px solid #245682; }
    .btn.primary:hover, .btn.primary.hover {
      background: #3071a9; }
    .btn.primary:active:not(.disabled):not(:disabled), .btn.primary.active:not(.disabled):not(:disabled) {
      -webkit-box-shadow: 0 3px 5px #1f496e inset;
      -moz-box-shadow: 0 3px 5px #1f496e inset;
      box-shadow: 0 3px 5px #1f496e inset; }
    .btn.primary:disabled, .btn.primary.disabled {
      background: #92bce0;
      color: #f2f2f2;
      border: 1px solid #3071a9;
      cursor: not-allowed; }
  .btn.success {
    background: #5CB85C;
    color: white;
    border: 1px solid #357935; }
    .btn.success:hover, .btn.success.hover {
      background: #449d44; }
    .btn.success:active:not(.disabled):not(:disabled), .btn.success.active:not(.disabled):not(:disabled) {
      -webkit-box-shadow: 0 3px 5px #2d672d inset;
      -moz-box-shadow: 0 3px 5px #2d672d inset;
      box-shadow: 0 3px 5px #2d672d inset; }
    .btn.success:disabled, .btn.success.disabled {
      background: #a3d7a3;
      color: #f2f2f2;
      border: 1px solid #449d44;
      cursor: not-allowed; }
  .btn.info {
    background: #5BC0DE;
    color: white;
    border: 1px solid #2390b0; }
    .btn.info:hover, .btn.info.hover {
      background: #31b0d5; }
    .btn.info:active:not(.disabled):not(:disabled), .btn.info.active:not(.disabled):not(:disabled) {
      -webkit-box-shadow: 0 3px 5px #1f7e9a inset;
      -moz-box-shadow: 0 3px 5px #1f7e9a inset;
      box-shadow: 0 3px 5px #1f7e9a inset; }
    .btn.info:disabled, .btn.info.disabled {
      background: #b0e1ef;
      color: #f2f2f2;
      border: 1px solid #31b0d5;
      cursor: not-allowed; }
  .btn.warning {
    background: #F0AD4E;
    color: white;
    border: 1px solid #c77c11; }
    .btn.warning:hover, .btn.warning.hover {
      background: #ec971f; }
    .btn.warning:active:not(.disabled):not(:disabled), .btn.warning.active:not(.disabled):not(:disabled) {
      -webkit-box-shadow: 0 3px 5px #b06d0f inset;
      -moz-box-shadow: 0 3px 5px #b06d0f inset;
      box-shadow: 0 3px 5px #b06d0f inset; }
    .btn.warning:disabled, .btn.warning.disabled {
      background: #f8d9ac;
      color: #f2f2f2;
      border: 1px solid #ec971f;
      cursor: not-allowed; }
  .btn.danger {
    background: #D9534F;
    color: white;
    border: 1px solid #a02622; }
    .btn.danger:hover, .btn.danger.hover {
      background: #c9302c; }
    .btn.danger:active:not(.disabled):not(:disabled), .btn.danger.active:not(.disabled):not(:disabled) {
      -webkit-box-shadow: 0 3px 5px #8b211e inset;
      -moz-box-shadow: 0 3px 5px #8b211e inset;
      box-shadow: 0 3px 5px #8b211e inset; }
    .btn.danger:disabled, .btn.danger.disabled {
      background: #eba5a3;
      color: #f2f2f2;
      border: 1px solid #c9302c;
      cursor: not-allowed; }
  .btn.large {
    padding: 15px 25px 15px 25px; }
    .btn.large.less {
      padding: 15px 8px 15px 8px; }
  .btn.big {
    padding: 8px 20px 8px 20px; }
    .btn.big.less {
      padding: 8px 6px 8px 6px; }
  .btn.small {
    padding: 2px 8px 2px 8px; }
    .btn.small.less {
      padding: 2px 3px 2px 3px; }

.addon {
  border: 1px solid #cccccc;
  background: #f2f2f2;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px; }
  .addon input[type='checkbox'],
  .addon input[type='radio'] {
    vertical-align: middle;
    margin: -1px 0 0 0; }

.label, .inline {
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px; }
  .label input[type='checkbox'],
  .label input[type='radio'], .inline input[type='checkbox'],
  .inline input[type='radio'] {
    vertical-align: middle;
    margin: -1px 3px 0 3px; }

.label {
  /*font-weight: 700;*/
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right; }

.label-block, .block {
  line-height: 1.5;
  padding: 5px 0 5px 0;
  display: block;
  vertical-align: middle;
  cursor: default;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none; }

.label-block {
  /*font-weight: 700;*/ }

.apart {
  height: 15px; }

.num {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #777;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.link {
  color: #428BCA;
  position: relative;
  padding: 6px 16px 6px 16px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px; }
  .link:hover, .link.hover {
    color: #222222;
    background: #EEEEEE; }
  .link.active {
    color: white;
    background: #428BCA; }

/*group*/
.linkgroup, .linkgroup-line {
  display: inline-block;
  vertical-align: middle;
  position: relative; }
  .linkgroup > .link, .linkgroup-line > .link {
    float: left; }

.linkgroup-line {
  border-bottom: 1px solid #cccccc; }
  .linkgroup-line > .link {
    float: left;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0; }
  .linkgroup-line > .link.active {
    color: #222222;
    background: white;
    border: 1px solid #cccccc;
    border-bottom: 1px solid white;
    margin-bottom: -1px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0; }

.group {
  display: inline-block;
  vertical-align: middle;
  position: relative; }
  .group > .addon,
  .group > select,
  .group > input[type='text'],
  .group > input[type='password'],
  .group > .btn {
    float: left;
    margin-left: -1px;
    position: relative; }
    .group > .addon:not(:first-child):not(:last-child),
    .group > select:not(:first-child):not(:last-child),
    .group > input[type='text']:not(:first-child):not(:last-child),
    .group > input[type='password']:not(:first-child):not(:last-child),
    .group > .btn:not(:first-child):not(:last-child) {
      -webkit-border-radius: 0 0 0 0;
      -moz-border-radius: 0 0 0 0;
      border-radius: 0 0 0 0; }
    .group > .addon:first-child:not(:last-child),
    .group > select:first-child:not(:last-child),
    .group > input[type='text']:first-child:not(:last-child),
    .group > input[type='password']:first-child:not(:last-child),
    .group > .btn:first-child:not(:last-child) {
      margin-left: 0;
      -webkit-border-radius: 4px 0 0 4px;
      -moz-border-radius: 4px 0 0 4px;
      border-radius: 4px 0 0 4px; }
    .group > .addon:last-child:not(:first-child),
    .group > select:last-child:not(:first-child),
    .group > input[type='text']:last-child:not(:first-child),
    .group > input[type='password']:last-child:not(:first-child),
    .group > .btn:last-child:not(:first-child) {
      -webkit-border-radius: 0 4px 4px 0;
      -moz-border-radius: 0 4px 4px 0;
      border-radius: 0 4px 4px 0; }
  .group > .group {
    margin-left: 0px;
    margin-right: -1px;
    float: left; }
    .group > .group:first-child > .addon,
    .group > .group:first-child > select,
    .group > .group:first-child > input[type='text'],
    .group > .group:first-child > input[type='password'],
    .group > .group:first-child > .btn:last-child {
      -webkit-border-radius: 0 0 0 0;
      -moz-border-radius: 0 0 0 0;
      border-radius: 0 0 0 0; }
    .group > .group:not(:first-child):not(:last-child) {
      margin-left: -1px; }
      .group > .group:not(:first-child):not(:last-child) > .addon,
      .group > .group:not(:first-child):not(:last-child) > select,
      .group > .group:not(:first-child):not(:last-child) > input[type='text'],
      .group > .group:not(:first-child):not(:last-child) > input[type='password'],
      .group > .group:not(:first-child):not(:last-child) > .btn:last-child {
        -webkit-border-radius: 0 0 0 0;
        -moz-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0; }
      .group > .group:not(:first-child):not(:last-child) > .addon,
      .group > .group:not(:first-child):not(:last-child) > select,
      .group > .group:not(:first-child):not(:last-child) > input[type='text'],
      .group > .group:not(:first-child):not(:last-child) > input[type='password'],
      .group > .group:not(:first-child):not(:last-child) > .btn:first-child {
        -webkit-border-radius: 0 0 0 0;
        -moz-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0; }
    .group > .group:last-child > .addon,
    .group > .group:last-child > select,
    .group > .group:last-child > input[type='text'],
    .group > .group:last-child > input[type='password'],
    .group > .group:last-child > .btn:first-child {
      -webkit-border-radius: 0 0 0 0;
      -moz-border-radius: 0 0 0 0;
      border-radius: 0 0 0 0; }
  .group.primary > .btn {
    background: #428BCA;
    color: white;
    border: 1px solid #245682; }
    .group.primary > .btn:hover {
      background: #3071a9; }
    .group.primary > .btn:active {
      -webkit-box-shadow: 0 3px 5px #245682 inset;
      -moz-box-shadow: 0 3px 5px #245682 inset;
      box-shadow: 0 3px 5px #245682 inset; }
  .group.success > .btn {
    background: #5CB85C;
    color: white;
    border: 1px solid #357935; }
    .group.success > .btn:hover {
      background: #449d44; }
    .group.success > .btn:active {
      -webkit-box-shadow: 0 3px 5px #357935 inset;
      -moz-box-shadow: 0 3px 5px #357935 inset;
      box-shadow: 0 3px 5px #357935 inset; }
  .group.info > .btn {
    background: #5BC0DE;
    color: white;
    border: 1px solid #2390b0; }
    .group.info > .btn:hover {
      background: #31b0d5; }
    .group.info > .btn:active {
      -webkit-box-shadow: 0 3px 5px #2390b0 inset;
      -moz-box-shadow: 0 3px 5px #2390b0 inset;
      box-shadow: 0 3px 5px #2390b0 inset; }
  .group.warning > .btn {
    background: #F0AD4E;
    color: white;
    border: 1px solid #c77c11; }
    .group.warning > .btn:hover {
      background: #ec971f; }
    .group.warning > .btn:active {
      -webkit-box-shadow: 0 3px 5px #c77c11 inset;
      -moz-box-shadow: 0 3px 5px #c77c11 inset;
      box-shadow: 0 3px 5px #c77c11 inset; }
  .group.danger > .btn {
    background: #D9534F;
    color: white;
    border: 1px solid #a02622; }
    .group.danger > .btn:hover {
      background: #c9302c; }
    .group.danger > .btn:active {
      -webkit-box-shadow: 0 3px 5px #a02622 inset;
      -moz-box-shadow: 0 3px 5px #a02622 inset;
      box-shadow: 0 3px 5px #a02622 inset; }
  .group.large > .btn,
  .group.large > .addon {
    padding: 15px 25px 15px 25px; }
    .group.large > .btn.less,
    .group.large > .addon.less {
      padding: 15px 8px 15px 8px; }
  .group.large > select,
  .group.large > input[type='text'],
  .group.large > input[type='password'] {
    height: 53px; }
  .group.large > .group > .btn,
  .group.large > .group > .addon {
    padding: 15px 25px 15px 25px; }
  .group.large > .group > select,
  .group.large > .group > input[type='text'],
  .group.large > .group > input[type='password'] {
    height: 53px; }
  .group.big > .btn,
  .group.big > .addon {
    padding: 8px 20px 8px 20px; }
    .group.big > .btn.less,
    .group.big > .addon.less {
      padding: 8px 6px 8px 6px; }
  .group.big > select,
  .group.big > input[type='text'],
  .group.big > input[type='password'] {
    height: 39px; }
  .group.big > .group > .btn,
  .group.big > .group > .addon {
    padding: 8px 20px 8px 20px; }
  .group.big > .group > select,
  .group.big > .group > input[type='text'],
  .group.big > .group > input[type='password'] {
    height: 39px; }
  .group.small > .btn,
  .group.small > .addon {
    padding: 2px 8px 2px 8px; }
    .group.small > .btn.less,
    .group.small > .addon.less {
      padding: 2px 3px 2px 3px; }
  .group.small > select,
  .group.small > input[type='text'],
  .group.small > input[type='password'] {
    height: 27px; }
  .group.small > .group > .btn,
  .group.small > .group > .addon {
    padding: 2px 8px 2px 8px; }
  .group.small > .group > select,
  .group.small > .group > input[type='text'],
  .group.small > .group > input[type='password'] {
    height: 27px; }

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  position: relative; }
  .flex > .link,
  .flex > select,
  .flex > textarea,
  .flex > input[type='text'],
  .flex > input[type='password'],
  .flex > .group {
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1; }
  .flex > .btn,
  .flex > .addon {
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1; }
  .flex > .wrap {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit; }

.list > .btn,
.list > select,
.list > input[type='text'],
.list > input[type='password'],
.list > .addon {
  display: block;
  margin-top: -1px; }
  .list > .btn:not(:first-child):not(:last-child),
  .list > select:not(:first-child):not(:last-child),
  .list > input[type='text']:not(:first-child):not(:last-child),
  .list > input[type='password']:not(:first-child):not(:last-child),
  .list > .addon:not(:first-child):not(:last-child) {
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0; }
  .list > .btn:first-child:not(:last-child),
  .list > select:first-child:not(:last-child),
  .list > input[type='text']:first-child:not(:last-child),
  .list > input[type='password']:first-child:not(:last-child),
  .list > .addon:first-child:not(:last-child) {
    margin-left: 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0; }
  .list > .btn:last-child:not(:first-child),
  .list > select:last-child:not(:first-child),
  .list > input[type='text']:last-child:not(:first-child),
  .list > input[type='password']:last-child:not(:first-child),
  .list > .addon:last-child:not(:first-child) {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px; }
.list > .group {
  margin-top: -1px; }
  .list > .group:not(:first-child):not(:last-child) > .btn,
  .list > .group:not(:first-child):not(:last-child) > select,
  .list > .group:not(:first-child):not(:last-child) > input[type='text'],
  .list > .group:not(:first-child):not(:last-child) > input[type='password'],
  .list > .group:not(:first-child):not(:last-child) > .addon {
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0; }
  .list > .group:first-child:not(:last-child) > .btn,
  .list > .group:first-child:not(:last-child) > select,
  .list > .group:first-child:not(:last-child) > input[type='text'],
  .list > .group:first-child:not(:last-child) > input[type='password'],
  .list > .group:first-child:not(:last-child) > .addon:first-child:not(:last-child) {
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0; }
  .list > .group:first-child:not(:last-child) > .btn,
  .list > .group:first-child:not(:last-child) > select,
  .list > .group:first-child:not(:last-child) > input[type='text'],
  .list > .group:first-child:not(:last-child) > input[type='password'],
  .list > .group:first-child:not(:last-child) > .addon:last-child:not(:first-child) {
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0; }
  .list > .group:last-child:not(:first-child) > .btn,
  .list > .group:last-child:not(:first-child) > select,
  .list > .group:last-child:not(:first-child) > input[type='text'],
  .list > .group:last-child:not(:first-child) > input[type='password'],
  .list > .group:last-child:not(:first-child) > .addon:first-child:not(:last-child) {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px; }
  .list > .group:last-child:not(:first-child) > .btn,
  .list > .group:last-child:not(:first-child) > select,
  .list > .group:last-child:not(:first-child) > input[type='text'],
  .list > .group:last-child:not(:first-child) > input[type='password'],
  .list > .group:last-child:not(:first-child) > .addon:last-child:not(:first-child) {
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0; }

/*plugin*/
.droplist {
  line-height: 1.5;
  padding: 0;
  border: 1px solid #cccccc;
  cursor: default;
  background: #FFFFFF;
  display: none;
  position: absolute;
  z-index: 999999;
  left: 0;
  top: 100%;
  margin-top: 3px;
  color: #222222;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: 0 0 9px #cccccc;
  -moz-box-shadow: 0 0 9px #cccccc;
  box-shadow: 0 0 9px #cccccc; }
  .droplist.top-a {
    bottom: 100%;
    top: auto;
    margin-bottom: 3px;
    left: 0;
    right: auto; }
  .droplist.top-b {
    bottom: 100%;
    top: auto;
    margin-bottom: 3px;
    left: auto;
    right: 0; }
  .droplist.right-a {
    left: 100%;
    right: atuo;
    margin-left: 3px;
    left: 0;
    right: auto; }
  .droplist.right-b {
    left: 100%;
    right: atuo;
    margin-left: 3px;
    left: auto;
    right: 0; }
  .droplist.bottom-a {
    top: 100%;
    bottom: auto;
    margin-top: 3px;
    left: 0;
    right: auto; }
  .droplist.bottom-b {
    top: 100%;
    bottom: auto;
    margin-top: 3px;
    left: auto;
    right: 0; }
  .droplist.left-a {
    right: 100%;
    left: auto;
    margin-right: 3px;
    left: 0;
    right: auto; }
  .droplist.left-b {
    right: 100%;
    left: auto;
    margin-right: 3px;
    left: auto;
    right: 0; }
  .droplist > * {
    display: block;
    line-height: 1.5;
    padding: 5px 15px 5px 15px;
    white-space: nowrap;
    position: relative; }
    .droplist > * > *:first-child i {
      float: right;
      width: 1.5;
      line-height: 1.5;
      text-align: right; }
    .droplist > *:hover {
      background: #f2f2f2; }
      .droplist > *:hover > .droplist {
        display: block;
        left: 100%;
        margin-left: 1px;
        top: 0; }
    .droplist > *.hover {
      background: #4285F4;
      color: white; }
    .droplist > *.left:hover > .droplist {
      right: 100%;
      left: auto; }
    .droplist > *.right:hover > .droplist {
      left: 100%;
      right: atuo;
      margin-right: 1px; }
  .droplist .line {
    height: 1px;
    margin: 5px 0 5px 0;
    padding: 0;
    background: #cccccc; }
  .open > .droplist {
    display: block; }
  .droplist.arrow:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid transparent;
    border-bottom: 6px solid #cccccc; }
  .droplist.arrow:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    bottom: 100%;
    border-left: 6px solid transparent;
    border-right: 6px solid white;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent; }
  .droplist.arrow.top:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    bottom: 100%;
    right: auto;
    top: auto;
    margin-left: -3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid transparent;
    border-bottom: 6px solid #cccccc; }
  .droplist.arrow.top:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    bottom: 100%;
    right: auto;
    top: auto;
    margin-left: -2px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid transparent;
    border-bottom: 4px solid white; }
  .droplist.arrow.right:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 100%;
    right: auto;
    bottom: auto;
    margin-top: -3px;
    border-left: 6px solid #cccccc;
    border-right: 6px solid transparent;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent; }
  .droplist.arrow.right:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 100%;
    right: auto;
    bottom: auto;
    margin-top: -2px;
    border-left: 4px solid white;
    border-right: 4px solid transparent;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent; }
  .droplist.arrow.bottom:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: 100%;
    right: auto;
    bottom: auto;
    margin-left: -3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #cccccc;
    border-bottom: 6px solid transparent; }
  .droplist.arrow.bottom:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: 100%;
    right: auto;
    bottom: auto;
    margin-left: -2px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid white;
    border-bottom: 4px solid transparent; }
  .droplist.arrow.left:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    right: 100%;
    left: auto;
    bottom: auto;
    margin-top: -3px;
    border-left: 6px solid transparent;
    border-right: 6px solid #cccccc;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent; }
  .droplist.arrow.left:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    right: 100%;
    left: auto;
    bottom: auto;
    margin-top: -2px;
    border-left: 4px solid transparent;
    border-right: 4px solid white;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent; }

.tip {
  display: inline-block;
  font-size: 13px;
  white-space: nowrap;
  line-height: 1.5;
  padding: 5px 15px 5px 15px;
  background: #2C2929;
  position: absolute;
  margin-bottom: 5px;
  color: white;
  bottom: 100%;
  right: auto;
  left: auto;
  top: auto;
  z-index: 888888888;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px; }
  .tip:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 100%;
    right: auto;
    bottom: auto;
    margin-left: -2.5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #2C2929;
    border-bottom: 5px solid transparent; }
  .tip.top {
    line-height: 35px;
    padding: 0 15px 0 15px;
    background: #2C2929;
    position: absolute;
    bottom: 100%;
    right: auto;
    left: auto;
    top: auto;
    margin: 0;
    margin-bottom: 5px; }
    .tip.top:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 100%;
      right: auto;
      bottom: auto;
      margin: 0;
      margin-left: -2.5px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #2C2929;
      border-bottom: 5px solid transparent; }
  .tip.left {
    line-height: 35px;
    padding: 0 15px 0 15px;
    background: #2C2929;
    position: absolute;
    right: 100%;
    bottom: auto;
    left: auto;
    top: auto;
    margin: 0;
    margin-right: 5px; }
    .tip.left:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 100%;
      right: auto;
      bottom: auto;
      margin: 0;
      margin-top: -2.5px;
      border-left: 5px solid #2C2929;
      border-right: 5px solid transparent;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent; }
  .tip.bottom {
    line-height: 35px;
    padding: 0 15px 0 15px;
    background: #2C2929;
    position: absolute;
    top: 100%;
    right: auto;
    bottom: auto;
    left: auto;
    margin: 0;
    margin-top: 5px; }
    .tip.bottom:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: 100%;
      right: auto;
      top: auto;
      margin: 0;
      margin-left: -2.5px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid transparent;
      border-bottom: 5px solid #2C2929; }
  .tip.right {
    line-height: 35px;
    padding: 0 15px 0 15px;
    background: #2C2929;
    position: absolute;
    left: 100%;
    right: auto;
    bottom: auto;
    top: auto;
    margin: 0;
    margin-left: 5px; }
    .tip.right:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 100%;
      bottom: auto;
      left: auto;
      margin: 0;
      margin-top: -2.5px;
      border-left: 5px solid transparent;
      border-right: 5px solid #2C2929;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent; }

.row {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 5px;
  width: 100%; }
  .row.midd {
    width: 1024px;
    margin: 0 auto; }

.row > .span1-1 {
  padding: 5px;
  min-height: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span1-2 {
  padding: 5px;
  min-height: 10px;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span1-3 {
  padding: 5px;
  min-height: 10px;
  width: 33.33333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span1-4 {
  padding: 5px;
  min-height: 10px;
  width: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span1-5 {
  padding: 5px;
  min-height: 10px;
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span1-6 {
  padding: 5px;
  min-height: 10px;
  width: 16.66667%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span1-7 {
  padding: 5px;
  min-height: 10px;
  width: 14.28571%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span1-8 {
  padding: 5px;
  min-height: 10px;
  width: 12.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span1-9 {
  padding: 5px;
  min-height: 10px;
  width: 11.11111%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span1-10 {
  padding: 5px;
  min-height: 10px;
  width: 10%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span1-11 {
  padding: 5px;
  min-height: 10px;
  width: 9.09091%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span1-12 {
  padding: 5px;
  min-height: 10px;
  width: 8.33333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span2-2 {
  padding: 5px;
  min-height: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span2-3 {
  padding: 5px;
  min-height: 10px;
  width: 66.66667%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span2-4 {
  padding: 5px;
  min-height: 10px;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span2-5 {
  padding: 5px;
  min-height: 10px;
  width: 40%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span2-6 {
  padding: 5px;
  min-height: 10px;
  width: 33.33333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span2-7 {
  padding: 5px;
  min-height: 10px;
  width: 28.57143%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span2-8 {
  padding: 5px;
  min-height: 10px;
  width: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span2-9 {
  padding: 5px;
  min-height: 10px;
  width: 22.22222%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span2-10 {
  padding: 5px;
  min-height: 10px;
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span2-11 {
  padding: 5px;
  min-height: 10px;
  width: 18.18182%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span2-12 {
  padding: 5px;
  min-height: 10px;
  width: 16.66667%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span3-3 {
  padding: 5px;
  min-height: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span3-4 {
  padding: 5px;
  min-height: 10px;
  width: 75%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span3-5 {
  padding: 5px;
  min-height: 10px;
  width: 60%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span3-6 {
  padding: 5px;
  min-height: 10px;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span3-7 {
  padding: 5px;
  min-height: 10px;
  width: 42.85714%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span3-8 {
  padding: 5px;
  min-height: 10px;
  width: 37.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span3-9 {
  padding: 5px;
  min-height: 10px;
  width: 33.33333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span3-10 {
  padding: 5px;
  min-height: 10px;
  width: 30%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span3-11 {
  padding: 5px;
  min-height: 10px;
  width: 27.27273%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span3-12 {
  padding: 5px;
  min-height: 10px;
  width: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span4-4 {
  padding: 5px;
  min-height: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span4-5 {
  padding: 5px;
  min-height: 10px;
  width: 80%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span4-6 {
  padding: 5px;
  min-height: 10px;
  width: 66.66667%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span4-7 {
  padding: 5px;
  min-height: 10px;
  width: 57.14286%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span4-8 {
  padding: 5px;
  min-height: 10px;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span4-9 {
  padding: 5px;
  min-height: 10px;
  width: 44.44444%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span4-10 {
  padding: 5px;
  min-height: 10px;
  width: 40%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span4-11 {
  padding: 5px;
  min-height: 10px;
  width: 36.36364%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span4-12 {
  padding: 5px;
  min-height: 10px;
  width: 33.33333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span5-5 {
  padding: 5px;
  min-height: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span5-6 {
  padding: 5px;
  min-height: 10px;
  width: 83.33333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span5-7 {
  padding: 5px;
  min-height: 10px;
  width: 71.42857%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span5-8 {
  padding: 5px;
  min-height: 10px;
  width: 62.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span5-9 {
  padding: 5px;
  min-height: 10px;
  width: 55.55556%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span5-10 {
  padding: 5px;
  min-height: 10px;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span5-11 {
  padding: 5px;
  min-height: 10px;
  width: 45.45455%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span5-12 {
  padding: 5px;
  min-height: 10px;
  width: 41.66667%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span6-6 {
  padding: 5px;
  min-height: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span6-7 {
  padding: 5px;
  min-height: 10px;
  width: 85.71429%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span6-8 {
  padding: 5px;
  min-height: 10px;
  width: 75%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span6-9 {
  padding: 5px;
  min-height: 10px;
  width: 66.66667%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span6-10 {
  padding: 5px;
  min-height: 10px;
  width: 60%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span6-11 {
  padding: 5px;
  min-height: 10px;
  width: 54.54545%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span6-12 {
  padding: 5px;
  min-height: 10px;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span7-7 {
  padding: 5px;
  min-height: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span7-8 {
  padding: 5px;
  min-height: 10px;
  width: 87.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span7-9 {
  padding: 5px;
  min-height: 10px;
  width: 77.77778%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span7-10 {
  padding: 5px;
  min-height: 10px;
  width: 70%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span7-11 {
  padding: 5px;
  min-height: 10px;
  width: 63.63636%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span7-12 {
  padding: 5px;
  min-height: 10px;
  width: 58.33333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span8-8 {
  padding: 5px;
  min-height: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span8-9 {
  padding: 5px;
  min-height: 10px;
  width: 88.88889%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span8-10 {
  padding: 5px;
  min-height: 10px;
  width: 80%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span8-11 {
  padding: 5px;
  min-height: 10px;
  width: 72.72727%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span8-12 {
  padding: 5px;
  min-height: 10px;
  width: 66.66667%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span9-9 {
  padding: 5px;
  min-height: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span9-10 {
  padding: 5px;
  min-height: 10px;
  width: 90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span9-11 {
  padding: 5px;
  min-height: 10px;
  width: 81.81818%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span9-12 {
  padding: 5px;
  min-height: 10px;
  width: 75%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span10-10 {
  padding: 5px;
  min-height: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span10-11 {
  padding: 5px;
  min-height: 10px;
  width: 90.90909%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span10-12 {
  padding: 5px;
  min-height: 10px;
  width: 83.33333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span11-11 {
  padding: 5px;
  min-height: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span11-12 {
  padding: 5px;
  min-height: 10px;
  width: 91.66667%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row > .span12-12 {
  padding: 5px;
  min-height: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  .onMax-show {
    display: block; }

  .onMax-hide {
    display: none; }

  .row > *[class*='span'].onMax-span-1 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 100%; }
  .row > *[class*='span'].onMax-span-2 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 50%; }
  .row > *[class*='span'].onMax-span-3 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 33.33333%; }
  .row > *[class*='span'].onMax-span-4 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 25%; }
  .row > *[class*='span'].onMax-span-5 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 20%; }
  .row > *[class*='span'].onMax-span-6 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 16.66667%; }
  .row.onMax-col-1 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 100%; }
  .row.onMax-col-2 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 50%; }
  .row.onMax-col-3 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 33.33333%; }
  .row.onMax-col-4 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 25%; }
  .row.onMax-col-5 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 20%; }
  .row.onMax-col-6 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 16.66667%; } }
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .on1024-show {
    display: block; }

  .on1024-hide {
    display: none; }

  .row.midd {
    width: 100%; }
  .row > *[class*='span'].on1024-span-1 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 100%; }
  .row > *[class*='span'].on1024-span-2 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 50%; }
  .row > *[class*='span'].on1024-span-3 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 33.33333%; }
  .row > *[class*='span'].on1024-span-4 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 25%; }
  .row > *[class*='span'].on1024-span-5 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 20%; }
  .row > *[class*='span'].on1024-span-6 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 16.66667%; }
  .row.on1024-col-1 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 100%; }
  .row.on1024-col-2 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 50%; }
  .row.on1024-col-3 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 33.33333%; }
  .row.on1024-col-4 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 25%; }
  .row.on1024-col-5 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 20%; }
  .row.on1024-col-6 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 16.66667%; } }
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .on768-show {
    display: block; }

  .on768-hide {
    display: none; }

  .row.midd {
    width: 100%; }
  .row > *[class*='span'].on768-span-1 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 100%; }
  .row > *[class*='span'].on768-span-2 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 50%; }
  .row > *[class*='span'].on768-span-3 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 33.33333%; }
  .row > *[class*='span'].on768-span-4 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 25%; }
  .row > *[class*='span'].on768-span-5 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 20%; }
  .row > *[class*='span'].on768-span-6 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 16.66667%; }
  .row.on768-col-1 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 100%; }
  .row.on768-col-2 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 50%; }
  .row.on768-col-3 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 33.33333%; }
  .row.on768-col-4 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 25%; }
  .row.on768-col-5 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 20%; }
  .row.on768-col-6 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 16.66667%; } }
@media only screen and (min-width: 100px) and (max-width: 480px) {
  .on480-show {
    display: block; }

  .on480-hide {
    display: none; }

  .row.midd {
    width: 100%; }
  .row > *[class*='span'].on480-span-1 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 100%; }
  .row > *[class*='span'].on480-span-2 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 50%; }
  .row > *[class*='span'].on480-span-3 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 33.33333%; }
  .row > *[class*='span'].on480-span-4 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 25%; }
  .row > *[class*='span'].on480-span-5 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 20%; }
  .row > *[class*='span'].on480-span-6 {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 16.66667%; }
  .row.on480-col-1 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 100%; }
  .row.on480-col-2 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 50%; }
  .row.on480-col-3 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 33.33333%; }
  .row.on480-col-4 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 25%; }
  .row.on480-col-5 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 20%; }
  .row.on480-col-6 > *[class*='span'] {
    -webkit-flex: inherit;
    -moz-flex: inherit;
    flex: inherit;
    width: 16.66667%; } }
.field {
  margin: 5px 0 5px 0;
  position: relative;
  /*display:inline-block;*/ }

/*# sourceMappingURL=base.css.map */
