@import "mixin.scss";
$barHeight:40px;
$menuWidth:200px;
body{
    width:100%;
    height:100%;
    overflow:hidden;
    -webkit-user-select: none;
}
.squart{
    line-height:$barHeight;
    text-align: center;
    padding:0 10px 0 10px;
    display:inline-block;
}
.tbtn{
    display:inline-block;
    line-height:35px;
    padding:0 15px 0 15px;
    vertical-align:top;
    /*text-shadow:2px 2px 4px #D8D6D6;*/
    &:hover{
        background:#E9EFF8;
    }
    &.success{
        background:#43D6B9;
        color:white;
    }
}
.root{
    overflow:hidden;
    .main-bar{
        line-height:$barHeight;
        /*        background:#2ABF9F;*/
        height:35px;
        color:white;
        position: absolute;
        border-left:50px solid #1A8B74;
        left:0;
        top:0;
        right:0;
        z-index: 999999;
        /*-webkit-box-shadow: 0 0 5px #2E3B46;*/
        border-bottom: 1px solid #24A086;
        background:url(images/xlogo.png) no-repeat center #2ABF9F;
        @include transition(all .3s ease-in .3s);
        .top-tbtn{
            line-height: 35px;
            padding:0 15px 0 15px;
            display:inline-block;
            vertical-align:top;
            /*border-right:1px solid #24A086;*/
            text-shadow:3px 3px 5px #127E67;
            background:#29B99B;
            position:relative;
            &:hover{
                background:#249B81;
            }
        }
        .title{
            padding:0 10px 0 10px;
            display: inline-block;
        }
        .right-btns{
            float:right;
            .top-tbtn:first-child{
                /*border-left:1px solid #24A086;*/
            }
            .top-tbtn:last-child{
                /*border-right:1px solid #24A086;*/
            }
        }
    }
    .rootlist{
        @include userSelect();
        position: absolute;
        left:0;
        right:0;
        bottom:0;
        top:0;
        /*overflow:hidden;*/
        .list{
            color:#E3E0E0;
            cursor: pointer;
            border-bottom:1px solid #242424;
            border-top:1px solid #404040;
            position:relative;
            width:50px;
            line-height:50px;
            text-align: center;
            font-size:20px;
            text-shadow: 3px 3px 5px #1C1C1C;
            @include transition(all .5s ease-out);
            &:last-child{
                border-bottom: 0;
            }
            &:first-child{
                border-top:0;
            }
            .tip{
                display: none;
                margin-top:8px;
            }
            &.hover{
                background:#1C1C1C;
                color:white;
            }
            &:hover{
                background:#4B4646;
                .tip{
                    display: inline-block;
                }
            }
        }
    }
    .squart{
        &:hover{
            background:#27B295;
        }
    }
    .middle-menulist{
        @include transition(all .3s ease-out);
        @include position();
        @include userSelect();
        width:50px;
        background:#2F2F2F;
        left:0;
        .logo{
            line-height:35px;
            height:35px;
            background-position: center;
            background-repeat: no-repeat;
            background-color: #36CEAF;
            -webkit-background-size: contain;
            border-bottom: 5px solid #1A9B81;
        }
        .menucon{
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            /*border-top:35px solid #1A8B74;*/
            z-index:9999999;
            /*overflow: hidden;*/
        }
        .btnsflip{
            position: absolute;
            bottom:50px;
            width:50px;
            height:20px;
            background:#464343;
            div{
                width:25px;
                height:20px;
                text-align: center;
                line-height:20px;
                color:white;
                display:inline-block;
                color:#B4AAAA;
                font-size:12px;
                &:hover{
                    background:#2F2F2F;
                }
            }
        }
        .listbtns{
            position: absolute;
            left:0;
            bottom:0;
            height:50px;
            width:50px;
            background:#1C1C1C;
            @include transition(all .3s ease-in);
            z-index:99999999;
        }
        .listbtn{
            @include transition(all .3s ease-out);
            color:#2ABF9F;
            font-size: 16px;
            line-height:50px;
            text-align: center;
            border-bottom:1px solid #151515;
            border-top:1px solid #2C2C2C;
            &:first-child{
                border-top:0;
            }
            &:last-child{
                border-bottom: 0;
            }
            &:hover{
                background:#0F0F0F;
                color:#0DCDC0;
            }
        }
    }
    .main{
        /*@include transition(all,.5s,ease-in);*/
        -webkit-transition:all ease-out .5s;
        background:white;
        .top-menu{
            position: absolute;
            left:0;
            top:0;
            width:35px;
            bottom:0;
            &.open{
                .tabh i{
                    -webkit-transform: rotate(180deg);
                }
            }
            & .droplist{
                margin-top:0;
            }
            .tabh{
                color:black;
                i{
                    @include transition(all .5s ease-in);
                }
            }
        }
        .top-tabhs{
            position: absolute;
            left:35px;
            right:0;
            top:0;
            bottom:0;
            overflow: hidden;
            .con{
                display: inline-block;
                white-space: nowrap;
            }
        }
        .scrollarrow{
            position: absolute;
            right:0;
            top:0;
            bottom:0;
            padding:0 5px 0 5px;
            line-height:35px;
            border-left:1px solid #D7D7D7;
            background:white;
            opacity: 0.9;
        }
        .tabh{
            @include userSelect();
            @include transition(all .5s ease-out);
            cursor: default;
            line-height:35px;
            display:inline-block;
            padding:0 10px 0 10px;
            /*width:45px;*/
            text-align: center;
            border-right:1px solid #43D6B9;
            position:relative;
            color:#1A957C;
            .line{
                position: absolute;
                left:0;
                right:0;
                bottom:0;
                display:none;
            }
            &:last-child{
                border-right:0;
            }
            &:hover{
                background:#6AEDD3;
            }
            &.hover{
                background:#43D6B9;
                color:white;
                text-shadow: 2px 2px 3px #5A5A48;
            }
        }
        .top-bar{
            position: relative;
            z-index:8888;
            line-height:35px;
            height:35px;
            background:white;
            border-bottom: 3px solid #43D6B9;
            white-space: nowrap;
        }
        .bottom-bar{
            position: absolute;
            left:0;
            right:0;
            height:5px;
            background:#43D6B9;
            bottom:0;
        }
        .right-content{
            @include position();
            top:36px;
            bottom:5px;
        }
        &.resize{
            -webkit-transform: scale(.5);
        }
        &.taskout{
            -webkit-transform: translateY(-100%);
            opacity:0;
        }
    }
    .pages{
        @include position();
        @include transition(all .3s ease-in);
        background:#645F5F;
        left:50px;
        top:35px;
        overflow: hidden;
        .container{
            @include transition(all,.3s,ease-in);
            @include position();
            &.back{
                -webkit-transform:scale(0.7);
            }
            >*{
                width:100%;
                height:100%;
                position:absolute;
                overflow:hidden;
                display:none;
                -webkit-box-sizing:border-box;
                &.out{
                    -webkit-animation-name: out;
                    -webkit-animation-duration: 800ms;
                    display:block;
                }
                &.in{
                    -webkit-animation-name: in;
                    -webkit-animation-duration: 800ms;
                    display:block;
                    z-index:10000;
                }
                &.show{
                    display: block;
                }
            }
        }
    }
    &.open{
        .main-bar{
            /*@include translateX(150px);*/
        }
        .pages{
            @include translateX(150px);
        }
        .togglebar{
            @include translateX(150px);
        }
        .listbtns{
            width:100%;
        }
    }
    .taskmask{
        /*        background-image:url(../images/m.jpg);
                -webkit-background-size:cover;
                background-repeat:no-repeat;
                background-position: center;*/
        background:rgba(247,247,247,1);
        overflow:hidden;
        @include position();
        @include userSelect();
        .btnleft{
            position:absolute;
            left:0;
            top:0;
            bottom:37px;
            width:20%;
            div{
                font-size: 20px;
                line-height:20px;
                position: absolute;
                left:10px;
                top:50%;
                margin-top:-10px;
                color:#E6E6E6;
            }
            &:hover div{
                color:#808080;
            }
        }
        .btnright{
            position:absolute;
            top:0;
            right:0;
            bottom:37px;
            width:20%;
            div{
                font-size: 20px;
                line-height:20px;
                position: absolute;
                right:10px;
                top:50%;
                margin-top:-10px;
                color:#E6E6E6;
            }
            &:hover div{
                color:#808080;
            }
        }
        .btncenter{
            position: absolute;
            left:20%;
            right:20%;
            top:0;
            bottom:37px;
        }
        .btnremove{
            width:50px;
            height:50px;
            line-height:50px;
            font-size:30px;
            color:white;
            background:rgb(0,0,0);
            text-align: center;
            -webkit-border-radius: 25px;
            position: absolute;
            left:50%;
            top:50%;
            margin-top:-25px;
            margin-left:-25px;
            opacity:0.1;
            @include transition(all,.3s,ease-in);
            &:hover{
                opacity:.5;
            }
        }
        .tasktitleis{
            text-align: center;
            line-height:35px;
        }
        .tbtns{
            text-align: center;
            position: absolute;
            bottom:0;
            left:0;
            right:0;
            line-height:35px;
            background:white;
            border-top:1px solid #D7D7D7;
        }
        .wrapper{
            @include position();
            overflow:hidden;
        }
        .mask{
            @include position();
            overflow:hidden;
        }
        .container{
            @include position();
            @include transition(all .3s ease-in);
            white-space: nowrap;
            -webkit-transform:scale(0.7);
            &.outin{
                -webkit-transform:scale(1);
            }
            >*{
                position:relative;
                width:100%;
                height:100%;
                overflow:hidden;
                margin-right:17%;
                -webkit-box-shadow: 0 0 15px #BCB4B4;
                display:inline-block;
                -webkit-box-sizing:border-box;
            }
        }
    }
    &.menushow{
        .main-bar{
            @include translateX(150px);
            @include translateY(-36px);
        }
        .middle-menulist{
            @include translateX(-470px);
        }
    }
}
.menulist{
    .menu-item{
        line-height:50px;
        .icon{
            width:50px;
            text-align: center;
            display: inline-block;
            margin-right:5px;
            color:white;
        }
        .head{
            padding-right: 5px;
            color:white;
        }
        .menu-dot{
            float:right;
        }
        ul{
            padding:0;
            margin:0;
            list-style: none;
            display: none;
            background:#2E3B46;
        }
        &.open{
            .icon{
                color:black;
            }
            .head{
                color:black;
                background:#E8E5E5;
            }
            ul{
                /*display: block;*/
            }
        }
    }
}

.quickmenu{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    display:none;
    white-space: normal;
    color:white;
    background-image:url(images/m.jpg);
    -webkit-background-size:cover;
    background-repeat:no-repeat;
    background-position: top left;
    .head{
        font-size:16px;
        line-height: 65px;
        color:white;
        padding:0 10px 0 10px;
        /*border-top:5px solid #1A8B74;*/
        background:rgba(0,0,0,.4);
    }
    .con{
        position: absolute;
        left:0;
        top:65px;
        right:0;
        bottom:25px;
        overflow: hidden;
        @include userSelect();
        /*padding:10px 0 10px 0;*/
    }
    .daoh{
        width:100px;
        height:50px;
        position: absolute;
        left:50%;
        top:50%;
        margin-left:-50px;
        margin-top:15px;
        -webkit-border-radius:50px;
        background:rgba(0,0,0,.2);
        overflow:hidden;
        opacity:.4;
        @include userSelect();
        @include transition(all .3s ease-out);
        &:hover{
            opacity:1;
        }
        div{
            width:50px;
            height:50px;
            line-height:50px;
            text-align: center;
            color:white;
            display:inline-block;
            @include transition(all .3s ease-out);
            text-shadow:3px 3px 5px #242424;
            &:hover{
                background:rgba(0,0,0,.2);
            }
        }
    }
    .foot{
        line-height:25px;
        height:25px;
        padding:0 10px 0 10px;
        text-align: right;
        color:white;
        position: absolute;
        bottom:0;
        right:0;
        left:0;
        font-size: 12px;
        /*border-bottom: 5px solid #2ABF9F;*/
        background:rgba(0,0,0,.6);
        .pagecount{
            position: absolute;
            left:0;
            right:0;
            line-height:25px;
            text-align:center;
            div{
                width:10px;
                height:10px;
                margin:7px 3px 7px 3px;
                display: inline-block;
                background:rgba(255,255,255,.5);
                -webkit-border-radius:5px;
                &.current{
                    background:rgba(255,255,255,1);
                }
            }
        }
        .copyright{
            position: absolute;
            right:10px;
            top:0;
            bottom:0;
        }
    }
    .cell{
        width:20%;
        height:50%;
        /*opacity:0.6;*/
        float:left;
        position: relative;
        @include transition(all .5s ease-in);
        background:rgba(0,0,0,.4);
        .quicklink{
            width:100%;
            height:100%;
            overflow:hidden;
            .linkpannel{
                width:100%;
                height:100%;
                @include middle();
                @include transition(all 1s ease-out);
                .icon{
                    width:100px;
                    line-height:80px;
                    font-size: 30px;
                    text-align: center;
                    color:white;
                    text-shadow: 3px 3px 5px #1C1C1C;
                }
                .name{
                    text-align: center;
                    line-height:20px;
                }
            }
            .msg{
                width:100%;
                height:100%;
                color:white;
                @include transition(all 1s ease-out);
            }
            &.flip{
                .linkpannel{
                    -webkit-transform: translateY(-100%);
                }
                .msg{
                    -webkit-transform: translateY(-100%);
                }
            }
        }
        &:hover{
            background:rgba(0,0,0,.3);
        }
    }
}

.group{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:rgba(233,239,248,.3);
    .groupcon{
        @include transition(all .3s ease-out);
        position: absolute;
        left:0;
        top:0;
        bottom:0;
        background:white;
    }
}
.choutier{
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    -webkit-box-shadow: 0 0 15px #797979;
    background:white;
    overflow:hidden;
    -webkit-transition:all .3s ease-in;
    -webkit-transform: translate(-100%,0);
    -webkit-box-sizing: border-box;
    .head{
        line-height:35px;
        border-bottom: 1px solid #F1F1F1;
        padding-left:5px;
        /*text-align:right;*/
        @include userSelect();
        .title{
            display:inline-block;
            padding:0 10px 0 10px;
        }
    }
    .body{
        position: absolute;
        top:36px;
        right:0;
        left:0;
        bottom:36px;
        padding:0 10px 0 10px;
        overflow-y: hidden;
        overflow-x: hidden;
        &:hover{
            overflow-y: auto;
        }
    }
    .foot{
        position: absolute;
        left:0;
        right:0;
        bottom:0;
        line-height:35px;
        text-align: right;
        border-top:1px solid #F1F1F1;
        background:#F9FAFB;
        @include userSelect();
    }
    .open{
        -webkit-transform: translate(0,0);
    }
}

.cchoutier{
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    -webkit-box-shadow: 0 0 15px #CBBCBC;
    background:white;
    overflow:hidden;
    -webkit-transition:all .3s ease-in;
    -webkit-box-sizing: border-box;
    z-index:9999999;
    .head{
        line-height:35px;
        border-bottom: 1px solid #F1F1F1;
        padding-left:5px;
        @include userSelect();
        .title{
            display:inline-block;
            padding:0 10px 0 10px;
        }
    }
    .body{
        position: absolute;
        top:36px;
        right:5px;
        left:0;
        bottom:36px;
        padding:0 10px 0 10px;
        overflow-y: hidden;
        overflow-x: hidden;
        &:hover{
            overflow-y: auto;
        }
    }
    .foot{
        position: absolute;
        left:0;
        right:0;
        bottom:0;
        line-height:35px;
        text-align: right;
        border-top:1px solid #F1F1F1;
        border-bottom: 5px solid #43D6B9;
        background:#F9FAFB;
        @include userSelect();
    }
    .open{
        -webkit-transform: translate(0,0);
    }
}

.login{
    @include position();
    background-image:url(images/m.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    overflow:hidden;
    opacity: 0;
    @include transition(all 1s ease-out);
    &.in{
        opacity:1;
    }
    &.out{
        opacity: 0;
    }
    .bg{
        @include position();
        background:rgba(0,0,0,.4);
    }
    .copyright{
        line-height:25px;
        font-size:12px;
        position:absolute;
        left:0;
        right:0;
        bottom:0;
        text-align:center;
        background:rgba(72,75,75,.3);
        color:#E9EFF8;
    }
    .logincon{
        /*border:1px solid #D7D7D7;*/
        -webkit-border-radius:15px;
        -webkit-box-shadow:0 0 20px #484B4B;
        width:300px;
        height:440px;
        background:white;
        position:absolute;
        left:50%;
        top:50%;
        margin-top:-220px;
        margin-left:-150px;
        position: absolute;
    }
    .title{
        line-height:30px;
        height:30px;
        font-size: 16px;
        padding:0 10px 0 10px;
        background:white;
        -webkit-border-radius:15px 15px 0 0;
        /*border-bottom: 1px solid #D7D7D7;*/
    }
    .logocon{
        padding:10px 30px 10px 30px;
        border-bottom: 5px solid #2ABF9F;
        background:#FCFCFC;
        background:white;
        -webkit-border-radius:15px 15px 0 0;
    }
    .logo{
        height:170px;
        background-image:url(images/logo1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .loginform{
        padding:10px 30px 10px 30px;
    }
    .btncon{
        padding:20px 30px 20px 30px;
        position:absolute;
        left:0;
        right:0;
        bottom:0;
        background:#E9EFF8;
        -webkit-border-radius:0 0 15px 15px;
        border-top: 1px solid #D7D7D7;
    }
}

@-webkit-keyframes out {
    0% { transform: scale(1)}
    60% { transform: scale(.9);-webkit-box-shadow: 0 50px 55px #1A1A1A;opacity:0.7;}
    100% { transform:  scale(.6) translateY(150%);-webkit-box-shadow: 0 50px 55px #1A1A1A;opacity:0.7;}
    /*    0% { transform: perspective(800px) rotate3d(1, 0, 0, -5deg);}
        60% { transform: perspective(800px) rotate3d(1, 0, 0, -5deg);-webkit-box-shadow: 0 50px 55px #1A1A1A;opacity:0.7;}
        100% { transform:  perspective(800px) rotate3d(1, 0, 0, -5deg) translateY(150%);-webkit-box-shadow: 0 50px 55px #1A1A1A;opacity:0.7;}*/
}
@-webkit-keyframes in {
    0% { transform: translateY(100%);-webkit-box-shadow: 0 0 100px #1A1A1A;}
    50% { transform: translateY(80%);-webkit-box-shadow: 0 0 100px #1A1A1A;}
    100% { transform:  translateY(0);-webkit-box-shadow: 0 0 100px #1A1A1A;}
}

.blank{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:white;
    z-index:999999999;
    -webkit-transform:translateY(-100%);
    .blank_header{
        height:5px;
        background:#E9EFF8;
        -webkit-transition:all ease-in .3s;
        overflow:hidden;
        &:hover{
            height:35px;
        }
        .blank_title{
            line-height:35px;
            padding:0 10px 0 10px;
            display:inline-block;
        }
        .blank_tool{
            float:right;
        }
        &.hover{
            height:35px;
        }
    }
    iframe{
        width:100%;
        height:100%;
    }
}
.newlist{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    color:white;
    font-size:15px;
    background:#2F2F2F;
    overflow:hidden;
    -webkit-transition:all ease-out .3s;
    width:50px;
    .newlist-head{
        line-height:36px;
        white-space:nowrap;
        background:#219D83;
        .newlist-head-icon{
            display:inline-block;
            width:50px;
            text-align: center;
        }
        .newlist-head-desc{
            display:inline-block;
        }
    }
    .newlistcon{
        position:absolute;
        left:0;
        right:0;
        top:35px;
        bottom:50px;
        border-top:1px solid #24A086;
        .newlist-item{
            line-height:50px;
            white-space:nowrap;
            -webkit-transition:all ease-out .5s;
            .newlist-item-icon{
                display:inline-block;
                width:50px;
                text-align: center;
                vertical-align: top;
                font-size:17px;
            }
            .newlist-item-desc{
                display:inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                vertical-align: top;
                font-size:14px;
            }
            &:hover{
                background:#242424;
            }
            &.hover{
                background:#1C1C1C;
            }
        }
    }
    .newlist-bottom{
        line-height:50px;
        white-space:nowrap;
        background:#1C1C1C;
        position:absolute;
        left:0;
        bottom:0;
        right:0;
        .newlist-bottom-icon{
            display:inline-block;
            width:50px;
            text-align: center;
            color:#219D83;
        }
        .newlist-bottom-desc{
            display:inline-block;
        }
        &:hover{
            .newlist-bottom-icon{
                color:#2EB99D;
            }
        }
    }
    &.open{
        width:260px;
    }
}

.about{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:999999999;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: -ms-flexbox;
    -ms-flex-orient: horizontal;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
}
.about .about-mask{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0);
    -webkit-transition:all ease-out 3s;
    transition:all ease-out 3s;
}
.about.show .about-mask{
    background:rgba(0,0,0,0.7);
}
.about .about-content{
    width:40%;
    height:300px;
    background:white;
    -webkit-border-radius: 10px;
    -webkit-box-shadow:0 0 15px #0F0F0F;
    -moz-border-radius: 10px;
    -moz-box-shadow:0 0 15px #0F0F0F;
    -ms-border-radius: 10px;
    -ms-box-shadow:0 0 15px #0F0F0F;
    border-radius: 10px;
    box-shadow:0 0 15px #0F0F0F;
    position:relative;
}
.about .about-content-title{
    line-height:35px;
    padding:0 15px 0 15px;
    border-bottom: 1px solid #FCFCFC;
}
.about .about-content-context{
    text-align: center;
    position:absolute;
    left:0;
    right:0;
    top:36px;
    bottom:0;
    padding:0 15px 0 15px;
}

::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track-piece{
    background-color: #F9FAFD;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical{
    height: 5px;
    background-color: #43D6B9;
    /*-webkit-border-radius: 6px;*/
}
::-webkit-scrollbar-thumb:horizontal{
    width: 5px;
    background-color: #43D6B9;
    /*-webkit-border-radius: 6px;*/
}