input[type='text'],
input[type='password'],
textarea, select {
  border: 0;
  border-bottom: 2px solid #D7D7D7;
  line-height: 30px;
  outline: none;
  width: 100%;
  padding: 0;
  background: transparent;
  font-size: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all ease-in 0.5s;
  -moz-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
  /*margin-bottom: 10px;*/ }
  input[type='text']:focus,
  input[type='password']:focus,
  textarea:focus, select:focus {
    border-bottom: 2px solid #0A8CF3; }

.input .input-msg, .input-multi > .input-multicon > .input-box > .input-msg, .input-multi > .input-box > .input-msg {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  font-size: 12px; }
  .input .input-msg .input-msg-text, .input-multi > .input-box > .input-msg .input-msg-text {
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1; }
  .input .input-msg .input-msg-icon, .input-multi > .input-box > .input-msg .input-msg-icon {
    width: 20px;
    line-height: 20px;
    text-align: center; }

.input .input-label, .input-multi > .input-label {
  line-height: 15px;
  font-size: 12px;
  color: #AEA9B5;
  font-weight: 500; }

.label-block {
  color: #8E8E8E;
  font-size: 12px; }

textarea {
  min-height: 80px;
  line-height: 20px; }

select {
  height: 30px;
  /*margin-bottom: 10px;*/ }

.input {
  padding: 10px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.input-multi {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0 10px 0; }
  .input-multi > .input-label {
    padding: 0 10px 0 10px; }
  .input-multi > .input-multicon {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex; }
    .input-multi > .input-multicon > .input-icon {
      width: 35px;
      line-height: 35px;
      text-align: center; }
    .input-multi > .input-multicon > .input-box {
      -webkit-flex: 1;
      -moz-flex: 1;
      flex: 1; }
      .input-multi > .input-multicon > .input-box > input[type='text'],
      .input-multi > .input-multicon > .input-box > input[type='password'] {
        -webkit-flex: 1;
        -moz-flex: 1;
        flex: 1; }
  .input-multi > .input-icon {
    width: 35px;
    line-height: 35px;
    text-align: center; }
  .input-multi > .input-box {
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1; }
    .input-multi > .input-box > input[type='text'],
    .input-multi > .input-box > input[type='password'] {
      -webkit-flex: 1;
      -moz-flex: 1;
      flex: 1; }

.input-alert {
  line-height: 15px;
  font-size: 12px;
  color: #DA2126; }

.treeform .ts {
  line-height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -15px;
  margin-left: -100px;
  width: 200px;
  text-align: center;
  background: white;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 1px 1px 5px #E0DBDB; }
.treeform .treeform-con {
  position: relative;
  height: 300px;
  margin-top: 5px;
  border: 1px solid #F1F1F1; }
.treeform .treeis {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px; }
.treeform .tableiscon {
  position: absolute;
  left: 200px;
  top: 0;
  bottom: 0;
  right: 0;
  border-left: 1px solid #F1F1F1; }
  .treeform .tableiscon .tableis {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 30px;
    overflow: auto;
    padding: 0 10px 0 10px; }
  .treeform .tableiscon .pbtns {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    line-height: 30px;
    background: #FCFAFA;
    border-top: 1px solid #F1F1F1; }
    .treeform .tableiscon .pbtns .pbtn {
      line-height: 30px;
      text-align: center;
      width: 30px; }
      .treeform .tableiscon .pbtns .pbtn:hover {
        background: #D7D7D7; }

.codeditor {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }
  .codeditor pre {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }

.extendform .extendform-tools {
  border-bottom: 1px solid #D7D7D7;
  margin-bottom: 5px; }
  .extendform .extendform-tools .extenform-btn {
    line-height: 30px;
    text-align: center;
    width: 30px;
    display: inline-block; }
.extendform .extendform-con {
  background: #E8E8E8; }
.extendform .extendform-cell {
  border: 1px solid #D7D7D7;
  padding: 5px;
  margin-bottom: 10px;
  background: white; }
  .extendform .extendform-cell .extendform-form {
    border-bottom: 1px solid #D7D7D7; }
.extendform .extendform-no-tools {
  margin-top: 5px; }
  .extendform .extendform-no-tools .extendform-no-btn {
    line-height: 30px;
    text-align: center;
    width: 30px; }

.imagesuploader {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }
  .imagesuploader .imagesupload-title {
    line-height: 30px;
    padding: 0 10px 0 10px;
    background: #FFFCFC;
    font-size: 13px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    -webkit-box-shadow: 0 0 10px #CBC6C6; }
  .imagesuploader .imagesuploader-container {
    background: #F3F2F3;
    position: absolute;
    left: 0;
    top: 30px;
    bottom: 40px;
    right: 0;
    overflow: auto; }
  .imagesuploader .imageuploader-mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
    display: none; }
  .imagesuploader .imagesuploader-filebtn {
    width: 200px;
    line-height: 40px;
    -webkit-border-radius: 5px;
    background: #0090EF;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -20px;
    text-align: center; }
    .imagesuploader .imagesuploader-filebtn input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0; }
  .imagesuploader .imagesuploader-filebtnplush {
    background: white; }
  .imagesuploader .imagesuploader-addicon {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    background: url(images/1166404.png) no-repeat center; }
  .imagesuploader .imagesuploader-tools {
    border-top: 1px solid #D7D7D7;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-shadow: 0 0 10px #CBC6C6; }
    .imagesuploader .imagesuploader-tools .imagesuploader-btn {
      display: inline-block;
      *display: inline;
      zoom: 1;
      line-height: 40px;
      padding: 0 10px 0 10px;
      position: relative;
      font-size: 12px; }
      .imagesuploader .imagesuploader-tools .imagesuploader-btn input {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0; }
  .imagesuploader .imagesuploader-image {
    width: 150px;
    height: 150px;
    margin: 10px;
    display: inline-block;
    /*border:1px solid #D7D7D7;*/
    vertical-align: top;
    overflow: hidden;
    position: relative;
    background: white;
    -webkit-box-shadow: 0 0 6px #989090; }
    .imagesuploader .imagesuploader-image img {
      width: 100%; }
    .imagesuploader .imagesuploader-image .imagesuploader-image-bg {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 25px; }
    .imagesuploader .imagesuploader-image .imageuploader-remove {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 5px;
      right: 5px;
      -webkit-border-radius: 10px;
      text-align: center;
      line-height: 20px;
      background: white;
      -webkit-box-shadow: 1px 1px 5px #D7D7D7; }
    .imagesuploader .imagesuploader-image .imageuploader-name {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      line-height: 25px;
      padding: 0 5px 0 5px;
      background: #FAFAFA;
      border-top: 1px solid #D7D7D7; }
    .imagesuploader .imagesuploader-image .imageuploader-progress {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background: #2379FA;
      opacity: .4; }
  .imagesuploader .imagesuploader-filebtnplus {
    width: 150px;
    height: 150px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #D7D7D7;
    vertical-align: top;
    position: relative;
    background: white; }
    .imagesuploader .imagesuploader-filebtnplus input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0; }

.imageupload {
  height: 150px;
  position: relative;
  border: 1px solid #D7D7D7;
  margin: 5px 0 5px 0;
  overflow: hidden; }
  .imageupload .imageupload-desc {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    line-height: 150px;
    text-align: center;
    font-size: 12px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
    .imageupload .imageupload-desc img {
      width: 100%; }
  .imageupload input[type='file'] {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%; }
  .imageupload .loadingbar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none; }
    .imageupload .loadingbar .loadingbar-color {
      height: 150px;
      width: 0;
      background: rgba(42, 191, 159, 0.6); }
  .imageupload.hover .loadingbar {
    display: block; }

.simpleform .form-mask {
  line-height: 25px;
  padding: 0 5px 0 5px;
  background: #E9EFF8;
  -webkit-border-radius: 5px;
  margin-top: 10px; }
  .simpleform .form-mask .form-mask-loading {
    line-height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: top; }
  .simpleform .form-mask .form-mask-mes {
    line-height: 25px;
    display: inline-block;
    vertical-align: top; }

.listform {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }
  .listform .listform-tips {
    line-height: 24px;
    padding: 0 10px 0 10px;
    border-bottom: 1px solid #D7D7D7;
    font-size: 12px;
    background: #FAFFED;
    border-top: 1px solid #D7D7D7; }
  .listform .listform-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 10px 0 10px;
    -webkit-transition: all ease-out .3s;
    background: white;
    overflow: hidden; }
    .listform .listform-container:hover {
      overflow: auto; }
  .listform.checked .listform-container {
    top: 26px; }

.edittree {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /*    .edittree-form{
          position: absolute;
          left:271px;
          top:0;
          right:0;
          bottom:0;
      }*/ }
  .edittree .edittree-tree {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    /*width:270px;*/
    /*border-right:1px solid #D7D7D7;*/ }

.tabgroup {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: white; }
  .tabgroup .tabgroup-titles {
    padding-top: 7px;
    padding-left: 10px;
    background: #F9FAFD;
    border-bottom: 1px solid #D7D7D7; }
    .tabgroup .tabgroup-titles .tabgroup-title {
      line-height: 25px;
      padding: 0 20px 0 20px;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      border-top: 1px solid transparent;
      border-bottom: 1px solid #D7D7D7;
      display: inline-block;
      margin-left: -1px;
      margin-bottom: -1px;
      -webkit-border-radius: 2px 2px 0 0;
      cursor: default; }
      .tabgroup .tabgroup-titles .tabgroup-title.hover {
        border-top: 1px solid #D7D7D7;
        border-left: 1px solid #D7D7D7;
        border-right: 1px solid #D7D7D7;
        border-bottom: 1px solid white;
        background: white; }
  .tabgroup .tabgroup-contents {
    background: white;
    position: absolute;
    left: 0;
    top: 40px;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-top: 1px solid #D7D7D7; }
    .tabgroup .tabgroup-contents .tabgroup-content {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: none; }
      .tabgroup .tabgroup-contents .tabgroup-content.hover {
        display: block; }

.datepicker {
  cursor: default;
  display: inline-block;
  border-top: 5px solid #43D6B9;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: -2px;
  background: white;
  z-index: 9999999; }
  .datepicker .datepicker-cell {
    width: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px; }
  .datepicker .datepicker-header {
    background: #F5F0F0;
    display: -webkit-flex;
    border-bottom: 1px solid #D7D7D7; }
    .datepicker .datepicker-header .datepicker-now {
      -webkit-flex: 1; }
    .datepicker .datepicker-header .datepicker-cellc {
      width: 30px;
      line-height: 30px;
      text-align: center;
      display: inline-block; }
      .datepicker .datepicker-header .datepicker-cellc:hover {
        background: #E5DEDE; }
  .datepicker .datepicker-row {
    white-space: nowrap;
    text-align: right; }
    .datepicker .datepicker-row.datepicker-row-end {
      text-align: left; }
  .datepicker .datepicker-tool {
    display: none; }
  .datepicker .datepicker-row-head {
    background: #FAFAFA; }
  .datepicker .datepicker-body {
    background: white;
    border-bottom: 1px solid #D7D7D7; }
    .datepicker .datepicker-body .datepicker-cell {
      color: #393939;
      cursor: default; }
      .datepicker .datepicker-body .datepicker-cell.current {
        background: #43D6B9;
        color: white;
        text-shadow: 1px 1px #393939; }
        .datepicker .datepicker-body .datepicker-cell.current:hover {
          background: #3BBCA2; }
      .datepicker .datepicker-body .datepicker-cell:hover {
        background: #F5F0F0; }
  .datepicker .time-bar {
    background: #FCFCFC; }
    .datepicker .time-bar select {
      font-size: 12px; }
  .datepicker .datapicker-picker {
    -webkit-box-shadow: 0 0 10px #BEBEC0; }
    .datepicker .datapicker-picker.hide {
      -webkit-box-shadow: none; }
  .datepicker .selectpanl {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background: white;
    border-bottom: 5px solid #43D6B9;
    border-top: 5px solid #5FE8CE;
    -webkit-box-shadow: 0 0 10px #BEBEC0; }
    .datepicker .selectpanl .select-year {
      border-bottom: 1px solid #D7D7D7; }
      .datepicker .selectpanl .select-year .select-year-year {
        display: inline-block;
        width: 20%;
        line-height: 55px;
        text-align: center; }
        .datepicker .selectpanl .select-year .select-year-year.hover {
          background: #43D6B9;
          color: white;
          text-shadow: 1px 1px #393939; }
          .datepicker .selectpanl .select-year .select-year-year.hover:hover {
            background: #3BBCA2; }
        .datepicker .selectpanl .select-year .select-year-year:hover {
          background: #F0E8E8; }
    .datepicker .selectpanl .select-month {
      background: #FCFAFA; }
      .datepicker .selectpanl .select-month .select-month-month {
        display: inline-block;
        width: 16.666666%;
        line-height: 40px;
        text-align: center; }
        .datepicker .selectpanl .select-month .select-month-month.hover {
          background: #43D6B9;
          color: white;
          text-shadow: 1px 1px #393939; }
          .datepicker .selectpanl .select-month .select-month-month.hover:hover {
            background: #3BBCA2; }
        .datepicker .selectpanl .select-month .select-month-month:hover {
          background: #F0E8E8; }

.edittreetablegroup {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }
  .edittreetablegroup .treecon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 280px; }
  .edittreetablegroup .tbg {
    position: absolute;
    left: 280px;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-box-shadow: 0 0 5px #CBBCBC; }

.selecttable {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border-top: 0;
  border-bottom: 0; }
  .selecttable .selecttable-search {
    position: absolute;
    left: 0px;
    top: 0;
    bottom: 0;
    width: 300px;
    -webkit-transition: all .3s ease-in;
    background: #FCFCFC;
    -webkit-box-shadow: 0 0 5px #CBBCBC; }
    .selecttable .selecttable-search .selecttable-form {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      -webkit-transition: all .3s ease-in;
      overflow: hidden; }
    .selecttable .selecttable-search .selecttable-bar {
      width: 10px;
      position: absolute;
      right: auto;
      -webkit-transition: all .3s ease-in;
      border-right: 1px solid #F1F1F1;
      font-size: 12px;
      left: 0;
      top: 35px;
      bottom: 35px;
      border-right: 0; }
      .selecttable .selecttable-search .selecttable-bar:hover {
        background: rgba(233, 239, 248, 0.4); }
      .selecttable .selecttable-search .selecttable-bar i {
        position: absolute;
        top: 50%;
        text-align: center;
        right: 0;
        -webkit-transform: rotate(0deg);
        -webkit-transition: all .3s ease-in; }
  .selecttable .selecttable-tablecon {
    position: absolute;
    left: 300px;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .3s ease-in;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px #CBBCBC; }
    .selecttable .selecttable-tablecon .selecttable-tablecon-table {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 150px; }
    .selecttable .selecttable-tablecon .selecttable-tablecon-selectpanl {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 135px;
      border-top: 5px solid #43D6B9;
      background: #F9FAFC;
      padding: 5px;
      overflow: auto;
      /*border-bottom: 5px solid #34B49B;*/ }
      .selecttable .selecttable-tablecon .selecttable-tablecon-selectpanl .selecttable-tablecon-selectpanl-desc {
        line-height: 130px;
        text-align: center; }
      .selecttable .selecttable-tablecon .selecttable-tablecon-selectpanl .selecttable-tablecon-selectpanl-cell {
        display: inline-block;
        margin: 5px;
        background: #43D6B9;
        -webkit-border-radius: 5px; }
        .selecttable .selecttable-tablecon .selecttable-tablecon-selectpanl .selecttable-tablecon-selectpanl-cell .selecttable-tablecon-selecpanl-cell-name {
          display: inline-block;
          padding: 0 0 0 8px;
          line-height: 25px;
          text-shadow: 1px 1px #393939;
          color: white; }
        .selecttable .selecttable-tablecon .selecttable-tablecon-selectpanl .selecttable-tablecon-selectpanl-cell .selecttable-tablecon-selectpanl-remove {
          display: inline-block;
          width: 25px;
          text-align: center;
          line-height: 30px; }
  .selecttable.close .selecttable-tablecon {
    -webkit-box-shadow: 0 0 0px #E3E3E3; }
  .selecttable.close .selecttable-search .selecttable-bar {
    left: 0;
    right: auto;
    border-right: 1px solid #F1F1F1;
    top: 0;
    bottom: 0; }
  .selecttable.close .selecttable-search .selecttable-bar i {
    -webkit-transform: rotate(180deg); }
  .selecttable.close .selecttable-tablecon {
    left: 11px; }
  .selecttable .selecttable-form .selecttable-head {
    line-height: 35px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    padding: 0 10px 0 10px; }
  .selecttable .selecttable-form .selecttable-body {
    position: absolute;
    right: 0;
    left: 0;
    top: 35px;
    bottom: 35px;
    background: white;
    border: 1px solid #F1F1F1;
    border-right: 0;
    border-left: 0;
    padding: 0 10px 0 10px;
    overflow-y: hidden;
    overflow-x: hidden; }
    .selecttable .selecttable-form .selecttable-body:hover {
      overflow-y: auto; }
  .selecttable .selecttable-form .selecttable-foot {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    line-height: 35px;
    text-align: right;
    background: #F9FAFB; }

.selecttree-container {
  border: 1px dotted #D7D7D7;
  margin-bottom: 5px;
  background: #FCFAFA;
  cursor: default; }
  .selecttree-container .select-desc {
    line-height: 70px;
    text-align: center; }
  .selecttree-container .selecttree-cell {
    line-height: 25px;
    padding: 0 10px 0 10px;
    display: inline-block;
    margin: 5px;
    background: #43D6B9;
    color: white;
    text-shadow: 2px 2px 3px #5A5A48;
    -webkit-border-radius: 3px; }

.popup {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999999999; }
  .popup .popup-mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1); }
  .popup .popup-container {
    position: absolute;
    left: 50%;
    top: 50%;
    background: white;
    -webkit-box-shadow: 0 0 20px #938B8B;
    -webkit-border-radius: 3px;
    overflow: hidden; }
    .popup .popup-container .popup-header {
      line-height: 40px;
      padding: 0 10px 0 10px;
      border-bottom: 1px solid #F1F1F1; }
    .popup .popup-container .popup-body {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 35px;
      top: 41px; }
    .popup .popup-container .popup-foot {
      line-height: 35px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: right;
      background: #F9FAFC; }
      .popup .popup-container .popup-foot .popup-foot-btn {
        display: inline-block;
        padding: 0 15px 0 15px; }
        .popup .popup-container .popup-foot .popup-foot-btn:hover {
          color: #43D6B9; }

.popupgroup {
  z-index: 999999999;
  border-top: 5px solid #2ABF9F; }

/*# sourceMappingURL=form.css.map */
