body{
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}
.editor_child_tools{
    border-bottom: 1px solid #D7D7D7;
    border-top: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
    background:white;
    line-height:25px;
    .editor_child_btns{
        width:25px;
        height:25px;
        display:inline-block;
        overflow: hidden;
        vertical-align: top;
    }
    &:hover{
        .editor_child_btns{
            width:auto;
        }
    }
}
.editor_child_btn{
    width:25px;
    line-height:25px;
    text-align: center;
    display: inline-block;
    &:hover{
        background:#E9EFF8;
    }
}
.editor_module_wrapper{
    position: relative;
    .editor_child_modulemask{
        position: absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
        -webkit-transition:all .5s ease-out;
        background:#A5DEB7;
        opacity:0;
        .editor_child_moduleicon{
            width:40px;
            text-align: center;
            line-height:40px;
            position: absolute;
            left:50%;
            top:50%;
            margin-left:-20px;
            margin-top:-20px;
            font-size:16px;
            background:#464343;
            -webkit-border-radius: 25px;
            color:white;
        }
        &:hover{
            opacity:0.7;
        }
        &.clicked{
            opacity:0.9;
        }
    }
}
.row{
    -webkit-box-sizing:broder-box;
    box-sizing:border-box;
    overflow:hidden;
    .editor_row_color{
        width:10px;
        height:25px;
        background:#8587C0;
        display: inline-block;
        vertical-align: top;
    }
    &:hover{
        -webkit-box-shadow:0 0 9px #D1CBCB;
        background:rgba(255,255,255,.2);
    }
}
*[module]{
    min-height: 100px;
    position: relative;
}
.row *[class*='span']{
    -webkit-box-sizing:broder-box;
    box-sizing:border-box;
    overflow:hidden;
    .editor_col_color{
        width:10px;
        height:25px;
        background:#7ABD90;
        display: inline-block;
        vertical-align: top;
    }
    .editor_child_tools{
        background:#FAFAFA;
    }
    &:hover{
        -webkit-box-shadow:0 0 9px #D1CBCB;
        background:rgba(255,255,255,.2);
    }
    &.editor_child_spanhover{
        -webkit-box-shadow:0 0 9px #222222;
    }
}
.editor_child_headtools{
    text-align:center;
    background:#F7F7F7;
}
.editor_show{
    .editor_child_headtools{
        display:none;
    }
    .editor_child_tools{
        display:none;
    }
    .editor_child_moduleicon{
        display:none;
    }
    *[module]{
        min-height: auto;
    }
}