.imagesuploader{
    border:1px solid #D7D7D7;
    position:relative;
    .imagesupload-title{
        line-height:35px;
        border-bottom: 1px solid #D7D7D7;
        padding:0 10px 0 10px;
        background:#FFFCFC;
        font-size:13px;
    }
    .imagesuploader-container{
        height:300px;
        min-width:400px;
        overflow:auto;
        background:#F3F2F3;
    }
    .imageuploader-mask{
        position: absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
        background:white;
        display:none;
    }
    .imagesuploader-filebtn{
        width:200px;
        line-height:40px;
        -webkit-border-radius: 5px;
        background:#0090EF;
        color:white;
        position: absolute;
        left:50%;
        top:50%;
        margin-left:-100px;
        margin-top:-20px;
        text-align:center;
        input{
            position:absolute;
            left:0;
            top:0;
            right:0;
            bottom:0;
            opacity: 0;
        }
    }
    .imagesuploader-filebtnplush{
        background:white;
    }
    .imagesuploader-addicon{
        width:50px;
        height:50px;
        position:absolute;
        left:50%;
        top:50%;
        margin-left:-25px;
        margin-top:-25px;
        background:url(images/1166404.png) no-repeat center;
    }
    .imagesuploader-tools{
        border-top:1px solid #D7D7D7;
        .imagesuploader-btn{
            display:inline-block;
            *display:inline;
            zoom:1;
            line-height:40px;
            padding:0 10px 0 10px;
            position:relative;
            font-size:12px;
            input{
                position:absolute;
                left:0;
                top:0;
                right:0;
                bottom:0;
                opacity:0;
            }
        }
    }
    .imagesuploader-image{
        width:150px;
        height:150px;
        margin:10px;
        display:inline-block;
        border:1px solid #D7D7D7;
        vertical-align: top;
        overflow: hidden;
        position:relative;
        background:white;
        img{
            width:100%;
        }
        .imageuploader-remove{
            width:30px;
            height:30px;
            position: absolute;
            top:5px;
            right:5px;
            -webkit-border-radius: 15px;
            background:url(images/imagesuploader-remove.png) no-repeat center white;
        }
        .imageuploader-progress{
            position: absolute;
            left:0;
            top:0;
            bottom:0;
            background:#2379FA;
            opacity:.4;
        }
    }
    .imagesuploader-filebtnplus{
        width:150px;
        height:150px;
        margin:10px;
        display:inline-block;
        border:1px solid #D7D7D7;
        vertical-align: top;
        position:relative;
        background:white;
        input{
            position:absolute;
            left:0;
            top:0;
            right:0;
            bottom:0;
            opacity:0;
        }
    }
}