.imagesuploader {
  border: 1px solid #D7D7D7;
  position: relative; }
  .imagesuploader .imagesupload-title {
    line-height: 35px;
    border-bottom: 1px solid #D7D7D7;
    padding: 0 10px 0 10px;
    background: #FFFCFC;
    font-size: 13px; }
  .imagesuploader .imagesuploader-container {
    height: 300px;
    min-width: 400px;
    overflow: auto;
    background: #F3F2F3; }
  .imagesuploader .imageuploader-mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
    display: none; }
  .imagesuploader .imagesuploader-filebtn {
    width: 200px;
    line-height: 40px;
    -webkit-border-radius: 5px;
    background: #0090EF;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -20px;
    text-align: center; }
    .imagesuploader .imagesuploader-filebtn input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0; }
  .imagesuploader .imagesuploader-filebtnplush {
    background: white; }
  .imagesuploader .imagesuploader-addicon {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    background: url(images/1166404.png) no-repeat center; }
  .imagesuploader .imagesuploader-tools {
    border-top: 1px solid #D7D7D7; }
    .imagesuploader .imagesuploader-tools .imagesuploader-btn {
      display: inline-block;
      *display: inline;
      zoom: 1;
      line-height: 40px;
      padding: 0 10px 0 10px;
      position: relative;
      font-size: 12px; }
      .imagesuploader .imagesuploader-tools .imagesuploader-btn input {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0; }
  .imagesuploader .imagesuploader-image {
    width: 150px;
    height: 150px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #D7D7D7;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    background: white; }
    .imagesuploader .imagesuploader-image img {
      width: 100%; }
    .imagesuploader .imagesuploader-image .imageuploader-remove {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 5px;
      right: 5px;
      -webkit-border-radius: 15px;
      background: url(images/imagesuploader-remove.png) no-repeat center white; }
    .imagesuploader .imagesuploader-image .imageuploader-progress {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background: #2379FA;
      opacity: .4; }
  .imagesuploader .imagesuploader-filebtnplus {
    width: 150px;
    height: 150px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #D7D7D7;
    vertical-align: top;
    position: relative;
    background: white; }
    .imagesuploader .imagesuploader-filebtnplus input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0; }

/*# sourceMappingURL=style.css.map */
