.tree{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    .tree-head{
        line-height:30px;
        border-bottom: 1px solid #D7D7D7;
        display:-webkit-flex;
        .tree-head-state{
            padding:0 10px 0 10px;
            display:inline-block;
            -webkit-flex:1;
        }
        .tree-head-toggle{
            display:inline-block;
            width:30px;
            text-align: center;
        }
    }
    .tree-container{
        position: absolute;
        left:0;
        top:31px;
        right:0;
        bottom:0;
        overflow: hidden;
        padding:5px;
        &:hover{
            overflow: auto;
        }
    }
    .tree-node{
        .tree-node-head{
            line-height:30px;
            white-space:nowrap;
            .arrow{
                display:inline-block;
                width:20px;
                text-align: center;
                vertical-align: top;
                font-size: 15px;
                i{
                    -webkit-transform: rotate(45deg);
                }
            }
            .check{
                display:inline-block;
                width:20px;
                text-align: center;
                vertical-align: top;
                input{
                    vertical-align: text-top;
                }
            }
            span{
                display:inline-block;
                vertical-align: top;
                cursor:default;
            }
            .tools{
                display:none;
                .tool{
                    display: inline-block;
                    width:30px;
                    text-align: center;
                    &:hover{
                        background:#FCFCFC;
                    }
                }
            }
            &.hover{
                span{
                    background: #43D6B9;
                    color: white;
                    text-shadow: 2px 2px 3px #5A5A48;
                    padding:0 5px 0 5px;
                    -webkit-border-radius: 5px;
                }
                .tools{
                    display:inline-block;
                }
            }
            &.noarrow{
                .arrow{
                    i{
                        display:none;
                    }
                }
            }
        }
        .tree-node-list{
            margin-left:15px;
        }
        &.close{
            .tree-node-head{
                .arrow{
                    i{
                        -webkit-transform: rotate(0);
                    }
                }
            }
            .tree-node-list{
                display:none;
            }
        }
    }
}