<!--[imageupload]-->
<div class="imageupload-desc">选择图片</div>
<input type="file" data-bind="change:input" accept='.png,.gif,.jpg,.jpeg'/>
<div class="loadingbar">
    <div class="loadingbar-color"></div>
</div>
<!--[imagesuploader]-->
<div class='imagesuploader-container'>
    <div class='imagesuploader-filebtnplus'><div class='imagesuploader-addicon'></div><input type='file' multiple='multiple' data-bind='change:file' accept='.png,.gif,.jpg,.jpeg'/></div>
</div>
<div class='imagesupload-title'><%=data.title;%></div>
<div class='imagesuploader-tools'>
    <div class='imagesuploader-btn' data-bind='click:upload'><i class='fa fa-upload'></i> 开始上传</div>
    <div class='imagesuploader-btn'><input type='file' multiple='multiple' data-bind='change:file' accept='.png,.gif,.jpg,.jpeg'/><i class='fa fa-plus'></i> 继续添加</div>
</div>
<!--[text]-->
<%if(data.label&&data.label!==''){%>
<div class='label-block'><%=data.label;%></div>
<%}%>
<%if(data.inputType==='text'||data.inputType==='password'){%>
<input data-find='input' <%=data.readonly?'readonly':'';%> data-bind='keyup:keyup' type='<%=data.inputType;%>' value='<%=data.value||'';%>'>
<%}else{%>
<textarea data-find='input' data-bind='keyup:keyup'></textarea>
<%}%>
<%if(data.desc&&data.desc!==''){%>
<div class='<%=data.isblock?'block':'inline';%>'><%=data.desc;%></div>
<%}%>
<!--[checkboxgroup]-->
<div class='form-label'><%=data.label;%></div>
<%for(var i in data.checkboxs){%>
<div class='checkbox'>
    <div class='checkbox-btn'>
        <input type='checkbox' value='<%=data.checkboxs[i].value;%>'/>
    </div>
    <div class='checkbox-text'><%=data.checkboxs[i].key;%></div></div>
<%}%>
</div>
<!--[radiogroup]-->
<div class='label'><%=data.label;%></div>
<%var dot = Math.round(Math.random(1) * 1000000000);%>
<%for(var i in data.radios){%>
<label class='radio'>
    <div class='radio-btn'>
        <input type='radio'<%=((data.radios[i].value === data.value? ' checked=\"checked\"' : '') + '  name=' + dot);%>>
    </div>
    <div class='radio-text'><%=data.radios[i].key;%></div>
</label>
<%}%>
<!--[select]-->
<%if(data.label&&data.label!==''){%>
<div class='label-block'><%=data.label;%></div>
<%}%>
<select data-bind="change:select" data-find="select">
    <%for(var i in data.defaults){%>
    <option value='<%=data.defaults[i][data.keyvalue];%>'<%=(data.defaults[i][data.keyvalue]===data.value?' selected=\"selected\"':'');%>><%=data.defaults[i][data.keykey];%></option>
    <%}%>
    <%for(var i in data.remoteData){%>
    <option value='<%=data.remoteData[i][data.keyvalue];%>'<%=(data.remoteData[i][data.keyvalue]===data.value?' selected=\"selected\"':'');%>><%=data.remoteData[i][data.keykey];%></option>
    <%}%>
</select>
<!--[treelite]-->
<div class='xhead'>
    <div class='xcurrent'>
        <i class='fa fa-refresh fa-spin'></i>
    </div>
    <div class='xtoggle' data-bind='click:xtoggle'>
        <i class='fa fa-angle-double-down' title='全部展开'></i>
        <i class='fa fa-angle-double-up' title='全部收起'></i>
    </div>
</div><div class='xcon'></div>
<!--[extendform]-->
<%if(data.add){%>
<div class="extendform-tools">
    <div class="extenform-btn" data-btn='add'><i class='fa fa-plus'></i></div>
    <%=data.label;%>
</div>
<%}%>
<div class='extendform-con'></div>
<!--[extendformcell]-->
<div class='extendform-cell'>
    <div class='extendform-form'></div>
    <div class='extendform-no-tools'>
        <div class='extendform-no-btn' data-btn='remove'><i class='fa fa-times'></i></div>
    </div>
</div>
<!--[extendformcell2]-->
<div class='extendform-cell'>
    <div class='extendform-form'></div>
</div
<!--[simpleform]-->
<div class='con'><div class='row'>
        <%for(var i in data.fields){%>
        <div class='span1-<%=data.colnum;%>'>
            <div view-<%=data.id;%>='<%=data.fields[i]._type;%>' viewid='k<%=i;%>'></div>
        </div><div class='con'><div class='row'>
                <%for(var i in data.fields){%>
                <div class='span1-<%=data.colnum;%>'>
                    <div view-<%=data.id;%>='<%=data.fields[i]._type;%>' viewid='k<%=i;%>'></div>
                </div>
                <%}%>
            </div></div>
        <%}%>
    </div>
</div>
<!--[simpleform]-->
<%for(var i in data.fields){%>
<div><@module type="{{data.fields[i].type}}" id="{{'t'+i}}"/></div>
<%}%>
<!--[listform]-->
<div class="listform-tips" data-find="tips"></div>
<div class="listform-container">
    <%for(var i in data.fields){%>
    <div><@module type="{{data.fields[i].type}}" id="{{'t'+i}}"/></div>
    <%}%>
</div>
<!--[singleform]-->
<div class="singleform-tips" data-find="tips"></div>
<div class='singleform-container'>
    <%for(var i in data.fields){%>
    <div><@module type="{{data.fields[i].type}}" id="{{'t'+i}}"/></div>
    <%}%>
</div>
<div class='singleform-foot'>
    <div class='singleform-group'>
        <%for(var i in data.btns){%>
        <div data-btn='<%=data.btns[i].action;%>' class='singleform-btn' type='<%=data.btns[i].action;%>'><i class='<%=data.btns[i].icon;%>'></i></div>
        <%}%>
    </div>
</div>
<!--[gridform]-->
<div class='row'>
    <%for(var i in data.fields){%>
    <div class='span<%=data.fields[i].col;%>-<%=data.cols;%>'>
        <div view-<%=data.id;%>='<%=data.fields[i]._type;%>' viewid='m<%=i;%>'></div>
    </div>
    <%}%>
</div>
<!--[freeform]-->
<%for(var i in data.fields){%>
<div view-<%=data.id;%>='<%=data.fields[i]._type;%>' viewid='<%=i;%>'></div>
<%}%>
<!--[htmleditor]-->
<div class="editor-textare">
    <iframe data-find='textarea'></iframe>
</div>
<div class="editor-toolbar">
    <%if(data.fontsize){%>
    <div class="editor-droplist" data-find='droplist' type='FontSize'>
        <div class="editor-droplist-title" data-bind='click:droplist'><span><%=data.fontsize[0].name;%></span>&nbsp;<i class='fa fa-caret-down'></i></div>
        <div class="editor-droplist-con">
            <%for(var i in data.fontsize){%>
            <div class="editor-droplist-con-item" data-bind="click:droplistitem" value="<%=data.fontsize[i].value;%>" label='<%=data.fontsize[i].name;%>'><font size='<%=data.fontsize[i].value;%>'><%=data.fontsize[i].name;%></font></div>
            <%}%>
        </div>
    </div>
    <%}%>
    <%if(data.fontfamily){%>
    <div class="editor-droplist" data-find='droplist' type='FontName'>
        <div class="editor-droplist-title" data-bind='click:droplist'><span><%=data.fontfamily[0].name;%></span>&nbsp;<i class='fa fa-caret-down'></i></div>
        <div class="editor-droplist-con">
            <%for(var i in data.fontfamily){%>
            <div class="editor-droplist-con-item" data-bind="click:droplistitem" value="<%=data.fontfamily[i].value;%>" label='<%=data.fontfamily[i].name;%>' style='font-family: <%=data.fontfamily[i].value;%>'><%=data.fontfamily[i].name;%></div>
            <%}%>
        </div>
    </div>
    <%}%>
    <%if(data.color){%>
    <div class="editor-droplist" data-find='droplist' type='foreColor'>
        <div class="editor-droplist-title" data-bind='click:droplist'><span><div style='display:inline-block;vertical-align:sub;width:15px;height:15px;background:black;'></div></span>&nbsp;<i class='fa fa-caret-down'></i></div>
        <div class="editor-droplist-con">
            <div class="colorpanl">
                <%var bgcolor = ['00', '33', '66', '99', 'CC', 'FF', '00', '33', '66', '99', 'CC', 'FF'];%>
                <%for (var i = 0; i < 12; i++) {%>
                <div class='colorpanl-row'>
                    <%for (var j = 0; j < 18; j++) {%>
                    <%var color = i < 6 ? '#' + bgcolor[Math.floor(j / 6)] + bgcolor[Math.floor(j % 6)] + bgcolor[i] : '#' + bgcolor[Math.floor(j / 6) + 3] + bgcolor[Math.floor(j % 6)] + bgcolor[i - 6];%>
                    <div class='colorpanl-col' data-bind="click:colorpicker" style='background:<%=color;%>;' value='<%=color;%>'></div>
                    <%}%>
                </div>
                <%}%>
            </div>
        </div>
    </div>
    <%}%>
    <%if(data.basic){%>
    <div class="editor-btngroup">
        <%for(var i in data.basic){%>
        <div class="editor-btn" data-find='basic' data-bind='click:basic' action="<%=data.basic[i].action;%>" title="<%=data.basic[i].title;%>"><i class="<%=data.basic[i].icon;%>"></i></div>
        <%}%>
    </div>
    <%}%>
    <%if(data.justify){%>
    <div class="editor-btngroup">
        <%for(var i in data.justify){%>
        <div class="editor-btn" data-find='basic' data-bind='click:basic' action="<%=data.justify[i].action;%>" title="<%=data.justify[i].title;%>"><i class="<%=data.justify[i].icon;%>"></i></div>
        <%}%>
    </div>
    <%}%>
    <%if(data.list){%>
    <div class="editor-btngroup">
        <%for(var i in data.list){%>
        <div class="editor-btn" data-find='basic' data-bind='click:basic' action="<%=data.list[i].action;%>" title="<%=data.list[i].title;%>"><i class="<%=data.list[i].icon;%>"></i></div>
        <%}%>
    </div>
    <%}%>
    <%if(data.dent){%>
    <div class="editor-btngroup">
        <%for(var i in data.dent){%>
        <div class="editor-btn" data-find='basic' data-bind='click:basic' action="<%=data.dent[i].action;%>" title="<%=data.dent[i].title;%>"><i class="<%=data.dent[i].icon;%>"></i></div>
        <%}%>
    </div>
    <%}%>
    <%if(data.insert){%>
    <div class="editor-btngroup">
        <%for(var i in data.insert){%>
        <div class="editor-btn" data-find='insert' data-bind='click:insert' action="<%=data.insert[i].action;%>" title="<%=data.insert[i].title;%>"><i class="<%=data.insert[i].icon;%>"></i></div>
        <%}%>
    </div>
    <%}%>
    <%if(data.undo){%>
    <div class="editor-btnx" data-find='basic' data-bind='click:basic' action="<%=data.undo.action;%>" title="<%=data.undo.title;%>"><i class="<%=data.undo.icon;%>"></i></div>
    <%}%>
    <%if(data.html){%>
    <div class="editor-btnx" data-find='basic' data-bind='click:basic' action="<%=data.html.action;%>" title="<%=data.html.title;%>"><i class="<%=data.html.icon;%>"></i></div>
    <%}%>
</div>
<div class="editor-tip"><i class='fa fa-check'></i> tips</div>
<!--[htmleditorbox]-->
<div class="editor-mask"></div>
<div class="editor-box-content">
    <div class="editor-box-header"><%=data.title;%></div>
    <div class="editor-box-body"><@module type="{{data.inner}}"/></div>
    <div class="editor-box-footer">
        <%for(var i in data.btns){%>
        <div class="editor-box-btn" action='<%=data.btns[i].action;%>' data-bind='click:btn'><i class='<%=data.btns[i].icon;%>'></i></div>
        <%}%>
    </div>
</div>
<!--[selecttree]-->
<%if(data.label&&data.label!==''){%>
<div class='label-block'><%=data.label;%></div>
<%}%>
<div class="selecttree-container" data-bind='click:btn' data-find="container">
    <div class="select-desc">点击选择数据</div>
</div>
<!--[imagesuploaderasys]-->
<div class='imagesuploader-container'>
	<div class='imagesuploader-filebtnplus'><div class='imagesuploader-addicon'></div><input style='width:150px;height:150px;' multiple='multiple' type='file' data-bind='change:file' accept='image/*'/></div>
</div>
<!--[fileupload]-->
<%if(data.label&&data.label!==''){%>
<div class='label-block'><%=data.label;%></div>
<%}%>
<div class="fileupload-btns">
    <div class="fileupload-btn">
        <i class='fa fa-folder-open'></i>
        <input type='file' multiple='multiple' data-bind='change:file'>
    </div>
    <div class="fileupload-btn" data-find='removeall' data-bind='click:removeall'><i class='fa fa-times'></i></div>
</div>
<div class="fileupload-files" data-find='files'>
</div>
<!--[fileuploadrow]-->
<div class="fileupload-file-con">
    <div class="fileupload-file" fid='<%=data.fid;%>'>
        <div class="fileupload-file-icon"><i class='fa fa-file-o'></i></div>
        <div class="fileupload-file-name"><%=data.filename;%></div>
        <div class="fileupload-file-remove" data-bind='click:remove'><i class='fa fa-times'></i></div>
    </div>
    <div class="fileupload-progress"></div>
</div>