<!--[login]-->
<div class='bg'></div>
<div class='copyright'>©2016 BJTTSX</div>
<div class='logincon'>
    <div class='logocon'>
        <div class='logo'></div>
    </div>
    <div class='loginform'>
        <%=module(data.option.formType);%>
    </div>
    <div class='btncon'>
        <div class='btn block success denglu' data-bind="click:login">登录</div>
    </div>
</div>
<!--[mainpage]-->
<div class='middle-menulist'>
    <div class='menucon'>
        <%=module(data.option.listType);%>
    </div>
</div>
<div class='main-bar'>
    <div class='title'>Main Menu</div>
    <div class='right-btns'>
        <div class="top-tbtn" data-bind="click:about" title="关于系统"><i class="fa fa-info"></i></div>
        <div class='top-tbtn' data-bind='click:fullscreen' title="全屏/退出全屏"><i class='fa fa-expand'></i></div>
        <div class='top-tbtn' data-bind='click:quit' title="退出登录">
            <i class='fa fa-sign-out'></i>
            <div class='droplist'>
                <div class='quitsure' data-bind='click:quitsure'>退出登录</div>
            </div>
        </div>
        <div class='top-tbtn' data-bind='click:userinfo' title="登录信息"><i class='fa fa-user'></i></div>
    </div>
</div>
<%=module(data.option.pageType);%>
<!--[newlist]-->
<div class='newlist-head' data-bind='click:open'>
    <div class='newlist-head-icon'><i class='fa fa-bars'></i></div>
    <div class='newlist-head-desc'>PacketJS sample</div>
</div>
<div class='newlistcon'>
    <%for(var i in data){%>
    <div data-find='item' data-bind='click:item' class='newlist-item' num='<%=i;%>'>
        <div class='newlist-item-icon'><i class='<%=data[i].img;%>'></i></div>
        <div class='newlist-item-desc'><%=data[i].name;%></div>
    </div>
    <%}%>
</div>
<div class='newlist-bottom' data-bind='click:task'>
    <div class='newlist-bottom-icon'><i class='fa fa-th-large'></i></div>
    <div class='newlist-bottom-desc'>任务管理</div>
</div>
<!--[rootlist]-->
<div class='xlistcon'>
    <%for(var i in data){%>
    <div data-find='item' class='list' num='<%=i;%>' title='<%=data[i].name;%>'>
        <i class='<%=data[i].img;%>'></i><div class='tip right'><%=data[i].name;%></div>
    </div>
    <%}%>
</div>
<!--[maincontainer]-->
<div class='top-bar'></div>
<div class='lbar'></div>
<div class='right-content'></div>
<div class='bottom-bar'></div>
<!--[maincontainermenu]-->
<div class='top-menu'>
    <div class='tabh'><i class='fa fa-chevron-down'></i></div>
    <div class='droplist'>
        <%for(var i in data){%>
        <div num='<%=i;%>'><i class='<%=data[i].img;%>'></i>&nbsp;<%=data[i].name;%></div>
        <%}%>
    </div>
</div>
<div class='top-tabhs'>
    <div class='con'>
        <%for(var i in data){%>
        <div class='tabh xbt' num='<%=i;%>'><i class='<%=data[i].img;%>'></i>&nbsp;<%=data[i].name;%>
        </div>
        <%}%>
    </div>
</div>
<!--[quickmenu]-->
<div class='head'>首页</div>
<div class='con'></div>
<div class='foot'>
    <div class='pagecount'>
        <div></div>
        <div class='current'></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class='copyright'>©2016 BJTTSX</div>
</div>
<!--[choutier]-->
<div class='head'>修改密码</div>
<div class='body'>
    <%=module(data.option.inner);%>
</div>
<div class='foot'>
    <%for(var i in data.option.btns){%>
    <div class='tbtn' data-bind='click:btn' action='<%=data.option.btns[i].action;%>'><i class='<%=data.option.btns[i].icon;%>'></i></div>
    <%}%>
</div>
<!--[blank]-->
<div class='blank_header hover'>
    <div class='blank_title'><%=data.title;%></div>
    <div class='blank_tool'>
        <div class='tbtn' data-bind='click:close'><i class='fa fa-times'></i></div>
    </div>
</div>
<iframe src='<%=data.url;%>'></iframe>
<!--[about]-->
<div class="about-mask"></div>
<div class="about-content">
    <div class="about-content-title">About System</div>
    <div class="about-content-context">
        <div class="about-content-context-logo"></div>
        <p>PacketJS web framework sample</p>
        <p>©2016 BJTTSX</p>
    </div>
</div>